In [1]:
!pip install pandas google-cloud-bigquery
!pip install pandas-gbq
import pandas as pd

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (1.3.3)
Requirement already satisfied: google-cloud-bigquery in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (3.11.4)
Requirement already satisfied: pytz>=2017.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from pandas) (1.23.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: packaging>=20.0.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from google-cloud-bigquery) (21.3)
Requirement already satisfied: grpcio<2.0dev,>=1.47.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-cloud-bigquery) (1.57.0)
Requirement already satisfied: google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-cloud-bigquery) (2.11.1)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.6.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-cloud-bigquery) (2.3.3)
Requirement already satisfied: requests<3.0.0dev,>=2.21.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from google-cloud-bigquery) (2.28.1)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.19.5 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-cloud-bigquery) (4.24.2)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.15.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-cloud-bigquery) (1.22.3)
Requirement already satisfied: google-resumable-media<3.0dev,>=0.6.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-cloud-bigquery) (2.6.0)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (1.60.0)
Requirement already satisfied: google-auth<3.0.dev0,>=2.14.1 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (2.22.0)
Requirement already satisfied: grpcio-status<2.0.dev0,>=1.33.2 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (1.57.0)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery) (1.5.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from packaging>=20.0.0->google-cloud-bigquery) (2.4.7)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2.1.0)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2020.6.20)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-auth<3.0.dev0,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (5.2.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-auth<3.0.dev0,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-auth<3.0.dev0,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (4.9)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from pyasn1-modules>=0.2.1->google-auth<3.0.dev0,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (0.4.8)

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: pip install --upgrade pip
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas-gbq in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (0.19.2)
Requirement already satisfied: pyarrow>=3.0.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from pandas-gbq) (13.0.0)
Requirement already satisfied: numpy>=1.16.6 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from pandas-gbq) (1.23.4)
Requirement already satisfied: db-dtypes<2.0.0,>=1.0.4 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from pandas-gbq) (1.1.1)
Requirement already satisfied: google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from pandas-gbq) (3.11.4)
Requirement already satisfied: google-cloud-bigquery-storage<3.0.0dev,>=2.16.2 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from pandas-gbq) (2.22.0)
Requirement already satisfied: pydata-google-auth>=1.5.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from pandas-gbq) (1.8.2)
Requirement already satisfied: google-auth-oauthlib>=0.7.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from pandas-gbq) (1.0.0)
Requirement already satisfied: google-api-core<3.0.0dev,>=2.10.2 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from pandas-gbq) (2.11.1)
Requirement already satisfied: setuptools in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from pandas-gbq) (67.6.0)
Requirement already satisfied: pandas>=1.1.4 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas-gbq) (1.3.3)
Requirement already satisfied: google-auth>=2.13.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from pandas-gbq) (2.22.0)
Requirement already satisfied: packaging>=17.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from db-dtypes<2.0.0,>=1.0.4->pandas-gbq) (21.3)
Requirement already satisfied: requests<3.0.0.dev0,>=2.18.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (2.28.1)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0.dev0,>=3.19.5 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (4.24.2)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (1.60.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-auth>=2.13.0->pandas-gbq) (5.2.0)
Requirement already satisfied: six>=1.9.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from google-auth>=2.13.0->pandas-gbq) (1.15.0)
Requirement already satisfied: urllib3<2.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from google-auth>=2.13.0->pandas-gbq) (1.26.11)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-auth>=2.13.0->pandas-gbq) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-auth>=2.13.0->pandas-gbq) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from google-auth-oauthlib>=0.7.0->pandas-gbq) (1.3.1)
Requirement already satisfied: google-resumable-media<3.0dev,>=0.6.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (2.6.0)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.6.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (2.3.3)
Requirement already satisfied: grpcio<2.0dev,>=1.47.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (1.57.0)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (2.8.2)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.15.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (1.22.3)
Requirement already satisfied: pytz>=2017.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas>=1.1.4->pandas-gbq) (2021.3)
Requirement already satisfied: grpcio-status<2.0.dev0,>=1.33.2 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (1.57.0)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (1.5.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from packaging>=17.0->db-dtypes<2.0.0,>=1.0.4->pandas-gbq) (2.4.7)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from pyasn1-modules>=0.2.1->google-auth>=2.13.0->pandas-gbq) (0.4.8)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (2020.6.20)
Requirement already satisfied: charset-normalizer<3,>=2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (2.1.0)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (3.3)
Requirement already satisfied: oauthlib>=3.0.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.7.0->pandas-gbq) (3.2.1)

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: pip install --upgrade pip

In [2]:
pip install pandas-gbq

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Requirement already satisfied: pandas-gbq in /usr/local/lib/python3.9/site-packages (0.19.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.9/site-packages (from pandas-gbq) (68.1.2)
Requirement already satisfied: db-dtypes<2.0.0,>=1.0.4 in /usr/local/lib/python3.9/site-packages (from pandas-gbq) (1.1.1)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.9/site-packages (from pandas-gbq) (1.25.2)
Requirement already satisfied: pandas>=1.1.4 in /usr/local/lib/python3.9/site-packages (from pandas-gbq) (2.1.0)
Requirement already satisfied: pyarrow>=3.0.0 in /usr/local/lib/python3.9/site-packages (from pandas-gbq) (13.0.0)
Requirement already satisfied: pydata-google-auth>=1.5.0 in /usr/local/lib/python3.9/site-packages (from pandas-gbq) (1.8.2)
Requirement already satisfied: google-api-core<3.0.0dev,>=2.10.2 in /usr/local/lib/python3.9/site-packages (from pandas-gbq) (2.11.1)
Requirement already satisfied: google-auth>=2.13.0 in /usr/local/lib/python3.9/site-packages (from pandas-gbq) (2.22.0)
Requirement already satisfied: google-auth-oauthlib>=0.7.0 in /usr/local/lib/python3.9/site-packages (from pandas-gbq) (1.0.0)
Requirement already satisfied: google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5 in /usr/local/lib/python3.9/site-packages (from pandas-gbq) (3.11.4)
Requirement already satisfied: google-cloud-bigquery-storage<3.0.0dev,>=2.16.2 in /usr/local/lib/python3.9/site-packages (from pandas-gbq) (2.22.0)
Requirement already satisfied: packaging>=17.0 in /Users/ellvin/Library/Python/3.9/lib/python/site-packages (from db-dtypes<2.0.0,>=1.0.4->pandas-gbq) (23.1)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in /usr/local/lib/python3.9/site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (1.60.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0.dev0,>=3.19.5 in /usr/local/lib/python3.9/site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (4.24.2)
Requirement already satisfied: requests<3.0.0.dev0,>=2.18.0 in /usr/local/lib/python3.9/site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (2.31.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.9/site-packages (from google-auth>=2.13.0->pandas-gbq) (5.3.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.9/site-packages (from google-auth>=2.13.0->pandas-gbq) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.9/site-packages (from google-auth>=2.13.0->pandas-gbq) (4.9)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.9/site-packages (from google-auth>=2.13.0->pandas-gbq) (1.16.0)
Requirement already satisfied: urllib3<2.0 in /usr/local/lib/python3.9/site-packages (from google-auth>=2.13.0->pandas-gbq) (1.26.16)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.9/site-packages (from google-auth-oauthlib>=0.7.0->pandas-gbq) (1.3.1)
Requirement already satisfied: grpcio<2.0dev,>=1.47.0 in /usr/local/lib/python3.9/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (1.57.0)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.15.0 in /usr/local/lib/python3.9/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (1.22.3)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.6.0 in /usr/local/lib/python3.9/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (2.3.3)
Requirement already satisfied: google-resumable-media<3.0dev,>=0.6.0 in /usr/local/lib/python3.9/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (2.6.0)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in /Users/ellvin/Library/Python/3.9/lib/python/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/site-packages (from pandas>=1.1.4->pandas-gbq) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.9/site-packages (from pandas>=1.1.4->pandas-gbq) (2023.3)
Requirement already satisfied: grpcio-status<2.0.dev0,>=1.33.2 in /usr/local/lib/python3.9/site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (1.57.0)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /usr/local/lib/python3.9/site-packages (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (1.5.0)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /usr/local/lib/python3.9/site-packages (from pyasn1-modules>=0.2.1->google-auth>=2.13.0->pandas-gbq) (0.5.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.9/site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (2023.7.22)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.9/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.7.0->pandas-gbq) (3.2.2)
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Note: you may need to restart the kernel to use updated packages.

In [3]:
from google.oauth2 import service_account
import pandas as pd
import pandas_gbq as gbq
credentials_path = 'token.json'

# Authenticate with your credentials
credentials = service_account.Credentials.from_service_account_file(
    credentials_path, scopes=['https://www.googleapis.com/auth/bigquery'])

# Set the credentials for pandas_gbq
gbq.context.credentials = credentials

In [4]:
project_id = 'capstone-398012'
dataset_id = 'capstone'
table_id = "compna_removed_na"

In [5]:
from pandas_gbq import read_gbq

query = f"""
SELECT *
FROM `{project_id}.{dataset_id}.{table_id}`

"""

# Authenticate and read data from BigQuery into a DataFrame
df = read_gbq(query, project_id=project_id, dialect='standard')
df

/usr/local/lib/python3.9/site-packages/google/cloud/bigquery/table.py:2155: UserWarning: A progress bar was requested, but there was an error loading the tqdm library. Please install tqdm to use the progress bar functionality.
  record_batch = self.to_arrow(

,gvkey,datadate,fyearq,fqtr,fyr,indfmt,consol,popsrc,datafmt,tic,...,naics,phone,priusa,sic,spcindcd,spcseccd,spcsrc,state,stko,weburl
0,29962,7/31/2014,2014,3.0,10,INDL,C,D,STD,LMNR,...,111320.0,805 525 5541,1.0,100.0,nan,nan,B-,CA,0.0,www.limoneira.com
1,29962,10/31/2020,2020,4.0,10,INDL,C,D,STD,LMNR,...,111320.0,805 525 5541,1.0,100.0,nan,nan,B-,CA,0.0,www.limoneira.com
2,29962,1/31/2021,2021,1.0,10,INDL,C,D,STD,LMNR,...,111320.0,805 525 5541,1.0,100.0,nan,nan,B-,CA,0.0,www.limoneira.com
3,23082,12/31/2022,2022,3.0,3,INDL,C,D,STD,SHMP,...,112512.0,888 791 9474,1.0,200.0,nan,nan,nan,TX,3.0,www.naturalshrimp.com
4,3801,6/30/2018,2018,2.0,12,INDL,C,D,STD,7183B,...,561730.0,(330) 673-9511,1.0,700.0,112.0,970.0,nan,OH,3.0,www.davey.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487215,30462,12/31/2001,2001,4.0,12,INDL,C,D,STD,DES.2,...,999977.0,52 55 5261 8000,90.0,9997.0,355.0,925.0,nan,nan,0.0,kuo.com.mx
487216,30462,12/31/2003,2003,4.0,12,INDL,C,D,STD,DES.2,...,999977.0,52 55 5261 8000,90.0,9997.0,355.0,925.0,nan,nan,0.0,kuo.com.mx
487217,30462,12/31/2004,2004,4.0,12,INDL,C,D,STD,DES.2,...,999977.0,52 55 5261 8000,90.0,9997.0,355.0,925.0,nan,nan,0.0,kuo.com.mx
487218,22707,3/31/2001,2001,1.0,12,INDL,C,D,STD,RAFI,...,999988.0,212-644-3450,1.0,9998.0,130.0,976.0,B-,NY,3.0,www.regencyaffiliates.com
487219,22707,3/31/2003,2003,1.0,12,INDL,C,D,STD,RAFI,...,999988.0,212-644-3450,1.0,9998.0,130.0,976.0,B-,NY,3.0,www.regencyaffiliates.com

In [123]:
df.columns

Index(['gvkey', 'datadate', 'fyearq', 'fqtr', 'fyr', 'indfmt', 'consol',
       'popsrc', 'datafmt', 'tic',
       ...
       'naics', 'phone', 'priusa', 'sic', 'spcindcd', 'spcseccd', 'spcsrc',
       'state', 'stko', 'weburl'],
      dtype='object', length=252)

In [124]:
df.isna().sum().sort_values(ascending=False)

gvkey      0
fiaoy      0
dltisy     0
dltry      0
doy        0
          ..
intanoq    0
intanq     0
invtq      0
ivltq      0
weburl     0
Length: 252, dtype: int64

In [125]:
cols = ['gvkey', 'datadate', 'sic', 'atq', 'ltq', 'dlcq', 'txditcq', 'cheq', 'lctq', 'actq', 'invtq', 'intanq', 'oibdpq', 'txpq', 'piq', 'niq', 'revtq', 'cogsq', 'oancfy', 'ivncfy', 'fincfy', 'dltisy', 'dltry', 'ceqq', 'dpq', 'saleq', 'saley', 'invchy', 'rectq', 'wcapq', 'prccq', 'epsf12', 'cshoq', 'dvy', 'req', 'dlttq', 'chechy']
print(len(cols))

37

In [154]:
#['tieq', 'uopiq', 'uaptq', 'uceqq', 'uniamiq'] not in df
new2_df = df[cols]
new2_df

,gvkey,datadate,sic,atq,ltq,dlcq,txditcq,cheq,lctq,actq,...,invchy,rectq,wcapq,prccq,epsf12,cshoq,dvy,req,dlttq,chechy
0,29962,7/31/2014,100.0,577.046,381.688,47.080,0.0,3.197,208.182,396.503,...,-29.013,148.471,188.321,14.875,0.32,12.153,1.105,184.547,153.171,-37.183
1,29962,10/31/2020,100.0,577.046,381.688,47.080,0.0,3.197,208.182,396.503,...,-29.013,148.471,188.321,14.875,0.32,12.153,1.105,184.547,153.171,-37.183
2,29962,1/31/2021,100.0,577.046,381.688,47.080,0.0,3.197,208.182,396.503,...,-29.013,148.471,188.321,14.875,0.32,12.153,1.105,184.547,153.171,-37.183
3,23082,12/31/2022,200.0,627.228,431.865,102.484,0.0,6.081,259.361,449.777,...,-32.905,193.813,190.416,8.500,-0.01,11.756,2.218,190.217,152.182,-34.299
4,3801,6/30/2018,700.0,627.228,431.865,102.484,0.0,6.081,259.361,449.777,...,-32.905,193.813,190.416,8.500,-0.01,11.756,2.218,190.217,152.182,-34.299
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487215,30462,12/31/2001,9997.0,765.784,441.847,11.000,0.0,137.794,262.795,354.459,...,72.948,57.876,91.664,18.760,-1.48,41.106,0.000,-193.639,154.140,-46.030
487216,30462,12/31/2003,9997.0,937.221,611.586,11.000,0.0,171.095,361.225,525.865,...,-19.061,62.788,164.640,15.340,-2.10,41.100,0.000,-206.727,232.764,-3.651
487217,30462,12/31/2004,9997.0,937.221,611.586,11.000,0.0,171.095,361.225,525.865,...,-19.061,62.788,164.640,15.340,-2.10,41.100,0.000,-206.727,232.764,-3.651
487218,22707,3/31/2001,9998.0,937.221,611.586,11.000,0.0,171.095,361.225,525.865,...,-19.061,62.788,164.640,15.340,-2.10,41.100,0.000,-206.727,232.764,-3.651
487219,22707,3/31/2003,9998.0,1144.510,792.417,23.486,0.0,73.444,385.194,389.600,...,50.390,81.989,4.406,13.080,-3.16,45.509,0.000,-234.486,358.798,-111.534

In [155]:
#convert type to num
cols_convert = ['atq', 'ltq', 'dlcq', 'txditcq', 'cheq', 'lctq', 'actq', 'invtq', 'intanq', 'oibdpq', 'txpq', 'piq', 'niq', 'revtq', 'cogsq', 'oancfy', 'ivncfy', 'fincfy', 'dltisy', 'dltry', 'ceqq', 'dpq', 'saleq', 'saley', 'invchy', 'rectq', 'wcapq', 'prccq', 'epsf12', 'cshoq', 'dvy', 'req', 'dlttq', 'chechy']
new2_df[cols_convert] = new2_df[cols_convert].astype(float)
new2_df.dtypes

/var/folders/rz/d40gjr2505ddk3wl3mnzmvdm0000gn/T/ipykernel_69162/997219968.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new2_df[cols_convert] = new2_df[cols_convert].astype(float)

gvkey        object
datadate     object
sic          object
atq         float64
ltq         float64
dlcq        float64
txditcq     float64
cheq        float64
lctq        float64
actq        float64
invtq       float64
intanq      float64
oibdpq      float64
txpq        float64
piq         float64
niq         float64
revtq       float64
cogsq       float64
oancfy      float64
ivncfy      float64
fincfy      float64
dltisy      float64
dltry       float64
ceqq        float64
dpq         float64
saleq       float64
saley       float64
invchy      float64
rectq       float64
wcapq       float64
prccq       float64
epsf12      float64
cshoq       float64
dvy         float64
req         float64
dlttq       float64
chechy      float64
dtype: object

In [156]:
new2_df.isna().sum().sort_values(ascending=False)

wcapq       188852
actq        188268
lctq        187292
invchy      178650
txpq        167800
txditcq     163768
intanq      136779
dltisy      129257
dpq         127367
revtq       127056
dltry       125915
dlcq        123154
oibdpq      119484
dvy         116387
epsf12      115001
req         114884
fincfy      113502
ivncfy      113500
chechy      113455
oancfy      113349
invtq       105012
rectq       104728
dlttq        97289
ceqq         96145
cheq         96006
ltq          94576
atq          94042
prccq        88794
cogsq        88314
piq          86632
saleq        86002
saley        85971
niq          84339
cshoq        37572
datadate         0
sic              0
gvkey            0
dtype: int64

In [164]:
new2_df.groupby(['gvkey']).apply(lambda x: x.isna().sum().sum()).sort_values(ascending=False)

gvkey
23224    1749
30616    1724
14734    1673
14672    1672
5914     1667
         ...
30634       0
4961        0
31229       0
13208       0
14663       0
Length: 12931, dtype: int64

In [165]:
#create sector industry column
new2_df['sector_industry'] = new2_df['sic'].apply(lambda x: x[:2])
new2_df['sector_industry']

/var/folders/rz/d40gjr2505ddk3wl3mnzmvdm0000gn/T/ipykernel_69162/2948966627.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new2_df['sector_industry'] = new2_df['sic'].apply(lambda x: x[:2])

0         10
1         10
2         10
3         20
4         70
          ..
487215    99
487216    99
487217    99
487218    99
487219    99
Name: sector_industry, Length: 487220, dtype: object

In [166]:
#impute with sector median
grouped_df = new2_df.groupby('sector_industry')
grouped_df[cols_convert].median()

,atq,ltq,dlcq,txditcq,cheq,lctq,actq,invtq,intanq,oibdpq,...,invchy,rectq,wcapq,prccq,epsf12,cshoq,dvy,req,dlttq,chechy
sector_industry,,,,,,,,,,,,,,,,,,,,,
10,829.3010,438.184,7.277,0.564,36.2495,95.3300,153.0850,7.729,8.0270,9.091,...,0.000,79.4205,43.7410,13.250,0.350,38.1670,0.000,21.4010,108.2370,0.000
12,4167.6410,3050.149,7.648,6.897,103.0880,306.4330,595.9690,159.490,34.7800,47.626,...,-0.048,285.1200,111.1100,14.040,0.210,24.3480,0.386,8.6730,241.5750,0.056
13,692.8580,418.300,6.500,0.095,44.1710,49.5365,116.2870,3.240,6.6480,10.523,...,0.000,84.4280,11.5110,13.980,0.610,25.4140,0.069,19.1550,65.6820,-0.001
14,644.8400,236.950,2.714,1.310,78.6740,148.8940,351.9000,11.336,20.6810,11.000,...,0.000,85.2330,239.5825,25.840,0.440,30.1550,0.000,53.7040,62.2450,0.000
15,571.2190,205.687,3.202,1.266,32.7730,102.4000,151.3450,15.068,0.0000,8.954,...,0.000,38.9260,36.2040,12.375,0.570,51.2850,0.000,64.0370,24.6370,-0.084
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,331.9020,111.936,2.425,0.000,9.4850,29.8720,37.8610,0.954,20.7730,1.466,...,0.000,7.1540,15.2425,15.610,0.335,37.5560,0.000,-6.6250,84.5370,-0.228
87,385.4375,190.936,1.942,0.000,22.4750,38.5850,101.1125,2.949,2.0265,4.305,...,0.000,40.6780,42.1760,12.100,0.300,32.5505,0.000,2.2430,23.9270,0.009
90,1494.7270,880.856,1.914,0.000,126.3050,440.4800,503.5500,61.953,0.6190,65.533,...,0.000,156.0000,122.9000,18.490,0.240,46.1710,0.000,-54.7305,214.2555,30.108
99,887.6810,465.589,5.592,0.000,47.3740,91.5070,177.2870,8.600,3.1940,9.973,...,0.000,70.9850,32.8010,16.390,0.360,41.5630,0.000,16.2210,85.9350,0.002
na,720.8920,257.670,12.584,0.865,11.6610,150.2340,440.7830,8.366,14.2780,7.396,...,3.654,407.6380,290.5490,1.820,-2.180,46.6840,0.000,-75.4660,102.8510,-4.923

In [167]:
median_values = grouped_df[cols_convert].transform('median')

new2_df[cols_convert] = new2_df[cols_convert].fillna(median_values)

new2_df

/var/folders/rz/d40gjr2505ddk3wl3mnzmvdm0000gn/T/ipykernel_69162/1963245835.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new2_df[cols_convert] = new2_df[cols_convert].fillna(median_values)

,gvkey,datadate,sic,atq,ltq,dlcq,txditcq,cheq,lctq,actq,...,rectq,wcapq,prccq,epsf12,cshoq,dvy,req,dlttq,chechy,sector_industry
0,29962,7/31/2014,100.0,577.046,381.688,47.080,0.0,3.197,208.182,396.503,...,148.471,188.321,14.875,0.32,12.153,1.105,184.547,153.171,-37.183,10
1,29962,10/31/2020,100.0,577.046,381.688,47.080,0.0,3.197,208.182,396.503,...,148.471,188.321,14.875,0.32,12.153,1.105,184.547,153.171,-37.183,10
2,29962,1/31/2021,100.0,577.046,381.688,47.080,0.0,3.197,208.182,396.503,...,148.471,188.321,14.875,0.32,12.153,1.105,184.547,153.171,-37.183,10
3,23082,12/31/2022,200.0,627.228,431.865,102.484,0.0,6.081,259.361,449.777,...,193.813,190.416,8.500,-0.01,11.756,2.218,190.217,152.182,-34.299,20
4,3801,6/30/2018,700.0,627.228,431.865,102.484,0.0,6.081,259.361,449.777,...,193.813,190.416,8.500,-0.01,11.756,2.218,190.217,152.182,-34.299,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487215,30462,12/31/2001,9997.0,765.784,441.847,11.000,0.0,137.794,262.795,354.459,...,57.876,91.664,18.760,-1.48,41.106,0.000,-193.639,154.140,-46.030,99
487216,30462,12/31/2003,9997.0,937.221,611.586,11.000,0.0,171.095,361.225,525.865,...,62.788,164.640,15.340,-2.10,41.100,0.000,-206.727,232.764,-3.651,99
487217,30462,12/31/2004,9997.0,937.221,611.586,11.000,0.0,171.095,361.225,525.865,...,62.788,164.640,15.340,-2.10,41.100,0.000,-206.727,232.764,-3.651,99
487218,22707,3/31/2001,9998.0,937.221,611.586,11.000,0.0,171.095,361.225,525.865,...,62.788,164.640,15.340,-2.10,41.100,0.000,-206.727,232.764,-3.651,99
487219,22707,3/31/2003,9998.0,1144.510,792.417,23.486,0.0,73.444,385.194,389.600,...,81.989,4.406,13.080,-3.16,45.509,0.000,-234.486,358.798,-111.534,99

In [168]:
new2_df.isna().sum().sort_values(ascending=False)

gvkey              0
rectq              0
dltisy             0
dltry              0
ceqq               0
dpq                0
saleq              0
saley              0
invchy             0
wcapq              0
datadate           0
prccq              0
epsf12             0
cshoq              0
dvy                0
req                0
dlttq              0
chechy             0
fincfy             0
ivncfy             0
oancfy             0
cogsq              0
sic                0
atq                0
ltq                0
dlcq               0
txditcq            0
cheq               0
lctq               0
actq               0
invtq              0
intanq             0
oibdpq             0
txpq               0
piq                0
niq                0
revtq              0
sector_industry    0
dtype: int64

In [182]:
new_df = new2_df
new_df

,gvkey,datadate,sic,atq,ltq,dlcq,txditcq,cheq,lctq,actq,...,prccq,epsf12,cshoq,dvy,req,dlttq,chechy,sector_industry,yyyy,mm
0,29962,2014-07-31,100.0,577.046,381.688,47.080,0.0,3.197,208.182,396.503,...,14.875,0.32,12.153,1.105,184.547,153.171,-37.183,10,2014,7
1,29962,2020-10-31,100.0,577.046,381.688,47.080,0.0,3.197,208.182,396.503,...,14.875,0.32,12.153,1.105,184.547,153.171,-37.183,10,2020,10
2,29962,2021-01-31,100.0,577.046,381.688,47.080,0.0,3.197,208.182,396.503,...,14.875,0.32,12.153,1.105,184.547,153.171,-37.183,10,2021,1
3,23082,2022-12-31,200.0,627.228,431.865,102.484,0.0,6.081,259.361,449.777,...,8.500,-0.01,11.756,2.218,190.217,152.182,-34.299,20,2022,12
4,3801,2018-06-30,700.0,627.228,431.865,102.484,0.0,6.081,259.361,449.777,...,8.500,-0.01,11.756,2.218,190.217,152.182,-34.299,70,2018,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487215,30462,2001-12-31,9997.0,765.784,441.847,11.000,0.0,137.794,262.795,354.459,...,18.760,-1.48,41.106,0.000,-193.639,154.140,-46.030,99,2001,12
487216,30462,2003-12-31,9997.0,937.221,611.586,11.000,0.0,171.095,361.225,525.865,...,15.340,-2.10,41.100,0.000,-206.727,232.764,-3.651,99,2003,12
487217,30462,2004-12-31,9997.0,937.221,611.586,11.000,0.0,171.095,361.225,525.865,...,15.340,-2.10,41.100,0.000,-206.727,232.764,-3.651,99,2004,12
487218,22707,2001-03-31,9998.0,937.221,611.586,11.000,0.0,171.095,361.225,525.865,...,15.340,-2.10,41.100,0.000,-206.727,232.764,-3.651,99,2001,3
487219,22707,2003-03-31,9998.0,1144.510,792.417,23.486,0.0,73.444,385.194,389.600,...,13.080,-3.16,45.509,0.000,-234.486,358.798,-111.534,99,2003,3

In [184]:
new_df.isna().sum().sort_values(ascending=False)

gvkey              0
datadate           0
dltry              0
ceqq               0
dpq                0
saleq              0
saley              0
invchy             0
rectq              0
wcapq              0
prccq              0
epsf12             0
cshoq              0
dvy                0
req                0
dlttq              0
chechy             0
sector_industry    0
yyyy               0
dltisy             0
fincfy             0
ivncfy             0
actq               0
sic                0
atq                0
ltq                0
dlcq               0
txditcq            0
cheq               0
lctq               0
invtq              0
oancfy             0
intanq             0
oibdpq             0
txpq               0
piq                0
niq                0
revtq              0
cogsq              0
mm                 0
dtype: int64

In [185]:
new_df['datadate'] = pd.to_datetime(new_df['datadate'])
new_df['datadate']

/var/folders/rz/d40gjr2505ddk3wl3mnzmvdm0000gn/T/ipykernel_69162/183060860.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['datadate'] = pd.to_datetime(new_df['datadate'])

0        2014-07-31
1        2020-10-31
2        2021-01-31
3        2022-12-31
4        2018-06-30
            ...
487215   2001-12-31
487216   2003-12-31
487217   2004-12-31
487218   2001-03-31
487219   2003-03-31
Name: datadate, Length: 487220, dtype: datetime64[ns]

In [186]:
#split to yyyy and mm column
new_df['yyyy'] = new_df['datadate'].dt.year
new_df['mm'] = new_df['datadate'].dt.month
new_df

/var/folders/rz/d40gjr2505ddk3wl3mnzmvdm0000gn/T/ipykernel_69162/2768138958.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['yyyy'] = new_df['datadate'].dt.year
/var/folders/rz/d40gjr2505ddk3wl3mnzmvdm0000gn/T/ipykernel_69162/2768138958.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['mm'] = new_df['datadate'].dt.month

,gvkey,datadate,sic,atq,ltq,dlcq,txditcq,cheq,lctq,actq,...,prccq,epsf12,cshoq,dvy,req,dlttq,chechy,sector_industry,yyyy,mm
0,29962,2014-07-31,100.0,577.046,381.688,47.080,0.0,3.197,208.182,396.503,...,14.875,0.32,12.153,1.105,184.547,153.171,-37.183,10,2014,7
1,29962,2020-10-31,100.0,577.046,381.688,47.080,0.0,3.197,208.182,396.503,...,14.875,0.32,12.153,1.105,184.547,153.171,-37.183,10,2020,10
2,29962,2021-01-31,100.0,577.046,381.688,47.080,0.0,3.197,208.182,396.503,...,14.875,0.32,12.153,1.105,184.547,153.171,-37.183,10,2021,1
3,23082,2022-12-31,200.0,627.228,431.865,102.484,0.0,6.081,259.361,449.777,...,8.500,-0.01,11.756,2.218,190.217,152.182,-34.299,20,2022,12
4,3801,2018-06-30,700.0,627.228,431.865,102.484,0.0,6.081,259.361,449.777,...,8.500,-0.01,11.756,2.218,190.217,152.182,-34.299,70,2018,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487215,30462,2001-12-31,9997.0,765.784,441.847,11.000,0.0,137.794,262.795,354.459,...,18.760,-1.48,41.106,0.000,-193.639,154.140,-46.030,99,2001,12
487216,30462,2003-12-31,9997.0,937.221,611.586,11.000,0.0,171.095,361.225,525.865,...,15.340,-2.10,41.100,0.000,-206.727,232.764,-3.651,99,2003,12
487217,30462,2004-12-31,9997.0,937.221,611.586,11.000,0.0,171.095,361.225,525.865,...,15.340,-2.10,41.100,0.000,-206.727,232.764,-3.651,99,2004,12
487218,22707,2001-03-31,9998.0,937.221,611.586,11.000,0.0,171.095,361.225,525.865,...,15.340,-2.10,41.100,0.000,-206.727,232.764,-3.651,99,2001,3
487219,22707,2003-03-31,9998.0,1144.510,792.417,23.486,0.0,73.444,385.194,389.600,...,13.080,-3.16,45.509,0.000,-234.486,358.798,-111.534,99,2003,3

In [187]:
def expand_dates(ser):
    min_date = ser['datadate'].min()
    max_date = ser['datadate'].max()
    return pd.DataFrame({'datadate': pd.date_range(min_date, max_date, freq='M')})

# Apply the function within each 'id' group
newdf = new_df.groupby(['gvkey', 'yyyy']).apply(expand_dates).reset_index()

# Merge with the original DataFrame and forward fill missing values for the entire row
result = newdf.merge(new_df, on=['gvkey', 'datadate'], how='left').fillna(method='ffill')

print(result)

/var/folders/rz/d40gjr2505ddk3wl3mnzmvdm0000gn/T/ipykernel_69162/1252580233.py:10: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  result = newdf.merge(new_df, on=['gvkey', 'datadate'], how='left').fillna(method='ffill')

         gvkey  yyyy_x  level_2   datadate     sic       atq       ltq  \
0        10000    2000        0 2000-03-31  3690.0     0.256     0.235
1        10000    2000        1 2000-04-30  3690.0     0.256     0.235
2        10000    2000        2 2000-05-31  3690.0     0.256     0.235
3        10000    2000        3 2000-06-30  3690.0  6472.000  4275.000
4        10000    2000        4 2000-07-31  3690.0  6472.000  4275.000
...        ...     ...      ...        ...     ...       ...       ...
1203815   9999    2011        9 2011-11-30  3674.0   429.254    85.062
1203816   9999    2012        0 2012-02-29  3674.0   327.864   150.752
1203817   9999    2012        1 2012-03-31  3674.0   327.864   150.752
1203818   9999    2012        2 2012-04-30  3674.0   327.864   150.752
1203819   9999    2012        3 2012-05-31  3674.0   604.675   289.685

           dlcq  txditcq     cheq  ...  prccq  epsf12    cshoq     dvy  \
0         0.169    0.000    0.047  ...  12.72    0.27    2.659   0.000
1         0.169    0.000    0.047  ...  12.72    0.27    2.659   0.000
2         0.169    0.000    0.047  ...  12.72    0.27    2.659   0.000
3        92.000    0.000  927.000  ...   3.21    0.11  549.648  42.000
4        92.000    0.000  927.000  ...   3.21    0.11  549.648  42.000
...         ...      ...      ...  ...    ...     ...      ...     ...
1203815   3.236    2.547   95.784  ...   2.71   -0.88   72.572   0.000
1203816   2.442    0.000   23.737  ...  12.72    0.27   19.774   0.000
1203817   2.442    0.000   23.737  ...  12.72    0.27   19.774   0.000
1203818   2.442    0.000   23.737  ...  12.72    0.27   19.774   0.000
1203819   0.000    0.000   25.172  ...  27.31    1.75   29.937   8.393

             req     dlttq   chechy  sector_industry  yyyy_y    mm
0         -0.004     0.000    0.047               36  2000.0   3.0
1         -0.004     0.000    0.047               36  2000.0   3.0
2         -0.004     0.000    0.047               36  2000.0   3.0
3       -225.000  1646.000  288.000               36  2000.0   6.0
4       -225.000  1646.000  288.000               36  2000.0   6.0
...          ...       ...      ...              ...     ...   ...
1203815 -171.736    16.423  -50.603               36  2011.0  11.0
1203816    3.213    21.397   -0.023               36  2012.0   2.0
1203817    3.213    21.397   -0.023               36  2012.0   2.0
1203818    3.213    21.397   -0.023               36  2012.0   2.0
1203819  258.218   168.237    7.367               36  2012.0   5.0

[1203820 rows x 42 columns]

In [188]:
result['mm'] = result['datadate'].dt.month
result

,gvkey,yyyy_x,level_2,datadate,sic,atq,ltq,dlcq,txditcq,cheq,...,prccq,epsf12,cshoq,dvy,req,dlttq,chechy,sector_industry,yyyy_y,mm
0,10000,2000,0,2000-03-31,3690.0,0.256,0.235,0.169,0.000,0.047,...,12.72,0.27,2.659,0.000,-0.004,0.000,0.047,36,2000.0,3
1,10000,2000,1,2000-04-30,3690.0,0.256,0.235,0.169,0.000,0.047,...,12.72,0.27,2.659,0.000,-0.004,0.000,0.047,36,2000.0,4
2,10000,2000,2,2000-05-31,3690.0,0.256,0.235,0.169,0.000,0.047,...,12.72,0.27,2.659,0.000,-0.004,0.000,0.047,36,2000.0,5
3,10000,2000,3,2000-06-30,3690.0,6472.000,4275.000,92.000,0.000,927.000,...,3.21,0.11,549.648,42.000,-225.000,1646.000,288.000,36,2000.0,6
4,10000,2000,4,2000-07-31,3690.0,6472.000,4275.000,92.000,0.000,927.000,...,3.21,0.11,549.648,42.000,-225.000,1646.000,288.000,36,2000.0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1203815,9999,2011,9,2011-11-30,3674.0,429.254,85.062,3.236,2.547,95.784,...,2.71,-0.88,72.572,0.000,-171.736,16.423,-50.603,36,2011.0,11
1203816,9999,2012,0,2012-02-29,3674.0,327.864,150.752,2.442,0.000,23.737,...,12.72,0.27,19.774,0.000,3.213,21.397,-0.023,36,2012.0,2
1203817,9999,2012,1,2012-03-31,3674.0,327.864,150.752,2.442,0.000,23.737,...,12.72,0.27,19.774,0.000,3.213,21.397,-0.023,36,2012.0,3
1203818,9999,2012,2,2012-04-30,3674.0,327.864,150.752,2.442,0.000,23.737,...,12.72,0.27,19.774,0.000,3.213,21.397,-0.023,36,2012.0,4
1203819,9999,2012,3,2012-05-31,3674.0,604.675,289.685,0.000,0.000,25.172,...,27.31,1.75,29.937,8.393,258.218,168.237,7.367,36,2012.0,5

In [189]:
new_df = result.drop(['yyyy_x', 'level_2'], axis=1)
new_df

,gvkey,datadate,sic,atq,ltq,dlcq,txditcq,cheq,lctq,actq,...,prccq,epsf12,cshoq,dvy,req,dlttq,chechy,sector_industry,yyyy_y,mm
0,10000,2000-03-31,3690.0,0.256,0.235,0.169,0.000,0.047,0.235,0.0470,...,12.72,0.27,2.659,0.000,-0.004,0.000,0.047,36,2000.0,3
1,10000,2000-04-30,3690.0,0.256,0.235,0.169,0.000,0.047,0.235,0.0470,...,12.72,0.27,2.659,0.000,-0.004,0.000,0.047,36,2000.0,4
2,10000,2000-05-31,3690.0,0.256,0.235,0.169,0.000,0.047,0.235,0.0470,...,12.72,0.27,2.659,0.000,-0.004,0.000,0.047,36,2000.0,5
3,10000,2000-06-30,3690.0,6472.000,4275.000,92.000,0.000,927.000,2228.000,3010.0000,...,3.21,0.11,549.648,42.000,-225.000,1646.000,288.000,36,2000.0,6
4,10000,2000-07-31,3690.0,6472.000,4275.000,92.000,0.000,927.000,2228.000,3010.0000,...,3.21,0.11,549.648,42.000,-225.000,1646.000,288.000,36,2000.0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1203815,9999,2011-11-30,3674.0,429.254,85.062,3.236,2.547,95.784,65.486,267.3060,...,2.71,-0.88,72.572,0.000,-171.736,16.423,-50.603,36,2011.0,11
1203816,9999,2012-02-29,3674.0,327.864,150.752,2.442,0.000,23.737,29.833,80.9035,...,12.72,0.27,19.774,0.000,3.213,21.397,-0.023,36,2012.0,2
1203817,9999,2012-03-31,3674.0,327.864,150.752,2.442,0.000,23.737,29.833,80.9035,...,12.72,0.27,19.774,0.000,3.213,21.397,-0.023,36,2012.0,3
1203818,9999,2012-04-30,3674.0,327.864,150.752,2.442,0.000,23.737,29.833,80.9035,...,12.72,0.27,19.774,0.000,3.213,21.397,-0.023,36,2012.0,4
1203819,9999,2012-05-31,3674.0,604.675,289.685,0.000,0.000,25.172,86.906,288.0690,...,27.31,1.75,29.937,8.393,258.218,168.237,7.367,36,2012.0,5

In [191]:
#feature engineer financial ratios

#create `current_ratio`
new_df['current_ratio'] = new_df['actq']/new_df['lctq']

#create `quick_ratio`
new_df['quick_ratio'] = (new_df['actq'] - new_df['invtq'])/new_df['lctq']

#create `cash_ratio`
new_df['cash_ratio'] = new_df['chechy']/new_df['lctq']

#create `net_working_capital`
new_df['net_working_capital'] = new_df['actq'] - new_df['lctq']

#create `debt_ratio`
new_df['debt_ratio'] = new_df['dlttq']/new_df['actq']

#create `debt_to_equity_ratio`
new_df['debt_to_equity_ratio'] = new_df['dlttq']/new_df['ceqq']

#create `equity_ratio`
new_df['equity_ratio'] = new_df['ceqq']/new_df['actq']

#create `financial_leverage_ratio`
new_df['financial_leverage_ratio'] = new_df['actq']/new_df['ceqq']

#create `cashflow_to_debt_ratio`
new_df['cashflow_to_debt_ratio'] = new_df['oancfy']/new_df['dlttq']

#create `net_profit_margin`
new_df['net_profit_margin'] = (new_df['revtq'] - new_df['cogsq'])/new_df['revtq']

#create `asset_turnover`
new_df['asset_turnover'] = new_df['saleq']/new_df['saley']

#create `receivables_turnover`
new_df['receivables_turnover'] = new_df['saleq']/new_df['rectq']

#create `day_sales_outstanding`
new_df['day_sales_outstanding'] = new_df['rectq']/new_df['revtq']

#create `working_capital_turnover`
new_df['working_capital_turnover'] = new_df['saleq']/new_df['wcapq']

#create `price_to_earnings`
new_df['price_to_earnings'] = new_df['prccq']/new_df['epsf12']

#create `retention_ratio`
new_df['retention_ratio'] = new_df['req']/new_df['niq']

In [192]:
new_df

,gvkey,datadate,sic,atq,ltq,dlcq,txditcq,cheq,lctq,actq,...,equity_ratio,financial_leverage_ratio,cashflow_to_debt_ratio,net_profit_margin,asset_turnover,receivables_turnover,day_sales_outstanding,working_capital_turnover,price_to_earnings,retention_ratio
0,10000,2000-03-31,3690.0,0.256,0.235,0.169,0.000,0.047,0.235,0.0470,...,0.446809,2.238095,-inf,NaN,NaN,NaN,NaN,-0.000000,47.111111,1.333333
1,10000,2000-04-30,3690.0,0.256,0.235,0.169,0.000,0.047,0.235,0.0470,...,0.446809,2.238095,-inf,NaN,NaN,NaN,NaN,-0.000000,47.111111,1.333333
2,10000,2000-05-31,3690.0,0.256,0.235,0.169,0.000,0.047,0.235,0.0470,...,0.446809,2.238095,-inf,NaN,NaN,NaN,NaN,-0.000000,47.111111,1.333333
3,10000,2000-06-30,3690.0,6472.000,4275.000,92.000,0.000,927.000,2228.000,3010.0000,...,0.729900,1.370050,0.343864,0.252858,0.345956,3.038947,0.329061,3.691816,29.181818,-3.688525
4,10000,2000-07-31,3690.0,6472.000,4275.000,92.000,0.000,927.000,2228.000,3010.0000,...,0.729900,1.370050,0.343864,0.252858,0.345956,3.038947,0.329061,3.691816,29.181818,-3.688525
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1203815,9999,2011-11-30,3674.0,429.254,85.062,3.236,2.547,95.784,65.486,267.3060,...,1.287633,0.776619,-2.769835,0.395782,0.542329,1.020309,0.980095,0.397537,-3.079545,9.238582
1203816,9999,2012-02-29,3674.0,327.864,150.752,2.442,0.000,23.737,29.833,80.9035,...,1.461766,0.684104,0.179091,0.546687,0.502454,1.055254,0.989347,2.413265,47.111111,4.487430
1203817,9999,2012-03-31,3674.0,327.864,150.752,2.442,0.000,23.737,29.833,80.9035,...,1.461766,0.684104,0.179091,0.546687,0.502454,1.055254,0.989347,2.413265,47.111111,4.487430
1203818,9999,2012-04-30,3674.0,327.864,150.752,2.442,0.000,23.737,29.833,80.9035,...,1.461766,0.684104,0.179091,0.546687,0.502454,1.055254,0.989347,2.413265,47.111111,4.487430
1203819,9999,2012-05-31,3674.0,604.675,289.685,0.000,0.000,25.172,86.906,288.0690,...,1.092495,0.915336,0.152083,0.311761,0.527046,1.193219,0.838069,0.906996,15.605714,17.250184

In [193]:
new_df.isna().sum().sort_values(ascending=False)

asset_turnover              78844
net_profit_margin           68243
receivables_turnover        35479
day_sales_outstanding       35364
debt_ratio                   5379
cashflow_to_debt_ratio       3205
cash_ratio                    501
retention_ratio               496
debt_to_equity_ratio          426
quick_ratio                   316
current_ratio                 295
working_capital_turnover      264
equity_ratio                  160
financial_leverage_ratio      160
price_to_earnings              29
dlttq                           0
prccq                           0
epsf12                          0
cshoq                           0
dvy                             0
req                             0
yyyy_y                          0
chechy                          0
sector_industry                 0
mm                              0
datadate                        0
net_working_capital             0
wcapq                           0
gvkey                           0
invchy                          0
txpq                            0
sic                             0
atq                             0
ltq                             0
dlcq                            0
txditcq                         0
cheq                            0
lctq                            0
actq                            0
invtq                           0
intanq                          0
oibdpq                          0
piq                             0
saley                           0
niq                             0
revtq                           0
cogsq                           0
oancfy                          0
ivncfy                          0
fincfy                          0
dltisy                          0
dltry                           0
ceqq                            0
dpq                             0
saleq                           0
rectq                           0
dtype: int64

In [194]:
new_df.rename(columns={'yyyy_y': 'yyyy'}, inplace=True)

In [195]:
new_df.columns

Index(['gvkey', 'datadate', 'sic', 'atq', 'ltq', 'dlcq', 'txditcq', 'cheq',
       'lctq', 'actq', 'invtq', 'intanq', 'oibdpq', 'txpq', 'piq', 'niq',
       'revtq', 'cogsq', 'oancfy', 'ivncfy', 'fincfy', 'dltisy', 'dltry',
       'ceqq', 'dpq', 'saleq', 'saley', 'invchy', 'rectq', 'wcapq', 'prccq',
       'epsf12', 'cshoq', 'dvy', 'req', 'dlttq', 'chechy', 'sector_industry',
       'yyyy', 'mm', 'current_ratio', 'quick_ratio', 'cash_ratio',
       'net_working_capital', 'debt_ratio', 'debt_to_equity_ratio',
       'equity_ratio', 'financial_leverage_ratio', 'cashflow_to_debt_ratio',
       'net_profit_margin', 'asset_turnover', 'receivables_turnover',
       'day_sales_outstanding', 'working_capital_turnover',
       'price_to_earnings', 'retention_ratio'],
      dtype='object')

In [196]:
#replace all -inf, inf and nan with 0
import numpy as np
new_df = new_df.replace([-np.inf, np.inf, np.nan], 0)

In [197]:
new_df.isna().sum().sort_values(ascending=False)

gvkey                       0
datadate                    0
prccq                       0
epsf12                      0
cshoq                       0
dvy                         0
req                         0
dlttq                       0
chechy                      0
sector_industry             0
yyyy                        0
mm                          0
current_ratio               0
quick_ratio                 0
cash_ratio                  0
net_working_capital         0
debt_ratio                  0
debt_to_equity_ratio        0
equity_ratio                0
financial_leverage_ratio    0
cashflow_to_debt_ratio      0
net_profit_margin           0
asset_turnover              0
receivables_turnover        0
day_sales_outstanding       0
working_capital_turnover    0
price_to_earnings           0
wcapq                       0
rectq                       0
invchy                      0
txpq                        0
sic                         0
atq                         0
ltq                         0
dlcq                        0
txditcq                     0
cheq                        0
lctq                        0
actq                        0
invtq                       0
intanq                      0
oibdpq                      0
piq                         0
saley                       0
niq                         0
revtq                       0
cogsq                       0
oancfy                      0
ivncfy                      0
fincfy                      0
dltisy                      0
dltry                       0
ceqq                        0
dpq                         0
saleq                       0
retention_ratio             0
dtype: int64

In [198]:
new_df.to_gbq(destination_table=f'{project_id}.{dataset_id}.compna_filled', project_id=project_id, if_exists='replace')

In [205]:
pip install openpyxl

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 5.4 MB/s eta 0:00:0000:01
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

Download and push compkey mapping to gbq

In [206]:
#download and push compkey mapping to gbq
df = pd.read_excel('compustat_company_map.xlsx')
df.head()

   company_number   gvkey
0           50797  177439
1           92318  160317
2           92300  106156
3           45321  141466
4           43665   66636

In [207]:
df.to_gbq(destination_table=f'{project_id}.{dataset_id}.compkey_mapping', project_id=project_id, if_exists='replace')

In [211]:
df['gvkey'] = df['gvkey'].astype(str)

Map `company_number`` to compustat table and push to gbq

In [212]:
result_df = new_df.merge(df, on='gvkey', how='left')

In [220]:
result_df.to_gbq(destination_table=f'{project_id}.{dataset_id}.compna_with_compnumber', project_id=project_id, if_exists='replace')

In [213]:
result_df.isna().sum().sort_values(ascending=False)

company_number              435530
wcapq                            0
epsf12                           0
cshoq                            0
dvy                              0
req                              0
dlttq                            0
chechy                           0
sector_industry                  0
yyyy                             0
mm                               0
current_ratio                    0
quick_ratio                      0
cash_ratio                       0
net_working_capital              0
debt_ratio                       0
debt_to_equity_ratio             0
equity_ratio                     0
financial_leverage_ratio         0
cashflow_to_debt_ratio           0
net_profit_margin                0
asset_turnover                   0
receivables_turnover             0
day_sales_outstanding            0
working_capital_turnover         0
price_to_earnings                0
retention_ratio                  0
prccq                            0
gvkey                            0
datadate                         0
invchy                           0
sic                              0
atq                              0
ltq                              0
dlcq                             0
txditcq                          0
cheq                             0
lctq                             0
actq                             0
invtq                            0
intanq                           0
oibdpq                           0
txpq                             0
piq                              0
niq                              0
revtq                            0
cogsq                            0
oancfy                           0
ivncfy                           0
fincfy                           0
dltisy                           0
dltry                            0
ceqq                             0
dpq                              0
saleq                            0
saley                            0
rectq                            0
dtype: int64

In [214]:
filtered_df = result_df[pd.isna(result_df['company_number'])]
filtered_df

,gvkey,datadate,sic,atq,ltq,dlcq,txditcq,cheq,lctq,actq,...,financial_leverage_ratio,cashflow_to_debt_ratio,net_profit_margin,asset_turnover,receivables_turnover,day_sales_outstanding,working_capital_turnover,price_to_earnings,retention_ratio,company_number
1093,10019,2013-03-31,7370.0,2581.829,898.943,69.344,0.000,51.236,520.474,1590.379,...,1.132473,0.134892,0.245612,1.000000,1.753842,0.570177,0.942286,25.325321,18.031014,NaN
1094,10019,2013-04-30,7370.0,2581.829,898.943,69.344,0.000,51.236,520.474,1590.379,...,1.132473,0.134892,0.245612,1.000000,1.753842,0.570177,0.942286,25.325321,18.031014,NaN
1095,10019,2013-05-31,7370.0,2581.829,898.943,69.344,0.000,51.236,520.474,1590.379,...,1.132473,0.134892,0.245612,1.000000,1.753842,0.570177,0.942286,25.325321,18.031014,NaN
1096,10019,2013-06-30,7370.0,30.970,16.456,2.740,0.000,0.628,11.767,24.723,...,1.703390,1.522071,0.226150,0.362835,2.105915,0.474853,1.115699,125.000000,-471.457627,NaN
1097,10019,2013-07-31,7370.0,30.970,16.456,2.740,0.000,0.628,11.767,24.723,...,1.703390,1.522071,0.226150,0.362835,2.105915,0.474853,1.115699,125.000000,-471.457627,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1218844,9906,2022-12-31,4911.0,3574.100,1884.600,0.500,89.300,120.800,513.600,1940.300,...,1.148446,0.048831,0.396868,1.000000,1.781538,0.561313,0.420691,22.487342,2.264414,NaN
1218845,9906,2023-03-31,4911.0,1678.600,928.200,0.000,218.500,2.300,165.200,256.700,...,0.342084,0.021114,0.314286,0.307018,0.672430,1.487143,1.530055,22.500000,15.783333,NaN
1218846,9906,2023-04-30,4911.0,1678.600,928.200,0.000,218.500,2.300,165.200,256.700,...,0.342084,0.021114,0.314286,0.307018,0.672430,1.487143,1.530055,22.500000,15.783333,NaN
1218847,9906,2023-05-31,4911.0,1678.600,928.200,0.000,218.500,2.300,165.200,256.700,...,0.342084,0.021114,0.314286,0.307018,0.672430,1.487143,1.530055,22.500000,15.783333,NaN
1218848,9906,2023-06-30,4911.0,10051.444,4156.814,257.339,1069.945,243.624,883.897,1410.768,...,0.239331,0.735072,0.536879,0.337144,8.989811,0.111237,1.867284,19.062500,-1.341880,NaN

In [219]:
new_df['gvkey'].value_counts()

gvkey
8092     238
7637     238
28490    238
2269     238
28762    238
        ...
29146      1
25995      1
8408       1
4024       1
21543      1
Name: count, Length: 12931, dtype: int64

In [218]:
filtered_df['gvkey'].value_counts()

gvkey
14734    237
25941    237
28308    237
23048    237
24729    237
        ...
23918      1
23919      1
24090      1
33370      1
28746      1
Name: count, Length: 6390, dtype: int64

Drop NaN in mapped table and push to gbq

In [221]:
result_df2 = result_df.dropna()

In [222]:
result_df2.isna().sum().sort_values(ascending=False)

gvkey                       0
wcapq                       0
epsf12                      0
cshoq                       0
dvy                         0
req                         0
dlttq                       0
chechy                      0
sector_industry             0
yyyy                        0
mm                          0
current_ratio               0
quick_ratio                 0
cash_ratio                  0
net_working_capital         0
debt_ratio                  0
debt_to_equity_ratio        0
equity_ratio                0
financial_leverage_ratio    0
cashflow_to_debt_ratio      0
net_profit_margin           0
asset_turnover              0
receivables_turnover        0
day_sales_outstanding       0
working_capital_turnover    0
price_to_earnings           0
retention_ratio             0
prccq                       0
rectq                       0
datadate                    0
invchy                      0
sic                         0
atq                         0
ltq                         0
dlcq                        0
txditcq                     0
cheq                        0
lctq                        0
actq                        0
invtq                       0
intanq                      0
oibdpq                      0
txpq                        0
piq                         0
niq                         0
revtq                       0
cogsq                       0
oancfy                      0
ivncfy                      0
fincfy                      0
dltisy                      0
dltry                       0
ceqq                        0
dpq                         0
saleq                       0
saley                       0
company_number              0
dtype: int64

In [226]:
len(result_df2)

785058

In [225]:
#push after dropping nan
result_df2.to_gbq(destination_table=f'{project_id}.{dataset_id}.compna_without_na', project_id=project_id, if_exists='replace')