In [2]:
!pip install pandas google-cloud-bigquery
!pip install pandas-gbq
import pandas as pd

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (1.3.3)
Requirement already satisfied: google-cloud-bigquery in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (3.11.4)
Requirement already satisfied: pytz>=2017.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from pandas) (1.23.4)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.15.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-cloud-bigquery) (1.22.3)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.6.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-cloud-bigquery) (2.3.3)
Requirement already satisfied: google-resumable-media<3.0dev,>=0.6.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-cloud-bigquery) (2.6.0)
Requirement already satisfied: grpcio<2.0dev,>=1.47.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-cloud-bigquery) (1.57.0)
Requirement already satisfied: packaging>=20.0.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from google-cloud-bigquery) (21.3)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.19.5 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-cloud-bigquery) (4.24.2)
Requirement already satisfied: google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-cloud-bigquery) (2.11.1)
Requirement already satisfied: requests<3.0.0dev,>=2.21.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from google-cloud-bigquery) (2.28.1)
Requirement already satisfied: google-auth<3.0.dev0,>=2.14.1 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (2.22.0)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (1.60.0)
Requirement already satisfied: grpcio-status<2.0.dev0,>=1.33.2 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (1.57.0)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery) (1.5.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from packaging>=20.0.0->google-cloud-bigquery) (2.4.7)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2020.6.20)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-auth<3.0.dev0,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-auth<3.0.dev0,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (4.9)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-auth<3.0.dev0,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (5.2.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from pyasn1-modules>=0.2.1->google-auth<3.0.dev0,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (0.4.8)

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: pip install --upgrade pip
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas-gbq in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (0.19.2)
Requirement already satisfied: google-api-core<3.0.0dev,>=2.10.2 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from pandas-gbq) (2.11.1)
Requirement already satisfied: pyarrow>=3.0.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from pandas-gbq) (13.0.0)
Requirement already satisfied: setuptools in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from pandas-gbq) (67.6.0)
Requirement already satisfied: google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from pandas-gbq) (3.11.4)
Requirement already satisfied: pandas>=1.1.4 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas-gbq) (1.3.3)
Requirement already satisfied: google-auth>=2.13.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from pandas-gbq) (2.22.0)
Requirement already satisfied: numpy>=1.16.6 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from pandas-gbq) (1.23.4)
Requirement already satisfied: pydata-google-auth>=1.5.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from pandas-gbq) (1.8.2)
Requirement already satisfied: db-dtypes<2.0.0,>=1.0.4 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from pandas-gbq) (1.1.1)
Requirement already satisfied: google-auth-oauthlib>=0.7.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from pandas-gbq) (1.0.0)
Requirement already satisfied: google-cloud-bigquery-storage<3.0.0dev,>=2.16.2 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from pandas-gbq) (2.22.0)
Requirement already satisfied: packaging>=17.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from db-dtypes<2.0.0,>=1.0.4->pandas-gbq) (21.3)
Requirement already satisfied: requests<3.0.0.dev0,>=2.18.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (2.28.1)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (1.60.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0.dev0,>=3.19.5 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (4.24.2)
Requirement already satisfied: rsa<5,>=3.1.4 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-auth>=2.13.0->pandas-gbq) (4.9)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-auth>=2.13.0->pandas-gbq) (5.2.0)
Requirement already satisfied: six>=1.9.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from google-auth>=2.13.0->pandas-gbq) (1.15.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-auth>=2.13.0->pandas-gbq) (0.2.8)
Requirement already satisfied: urllib3<2.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from google-auth>=2.13.0->pandas-gbq) (1.26.11)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from google-auth-oauthlib>=0.7.0->pandas-gbq) (1.3.1)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (2.8.2)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.6.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (2.3.3)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.15.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (1.22.3)
Requirement already satisfied: google-resumable-media<3.0dev,>=0.6.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (2.6.0)
Requirement already satisfied: grpcio<2.0dev,>=1.47.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (1.57.0)
Requirement already satisfied: pytz>=2017.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas>=1.1.4->pandas-gbq) (2021.3)
Requirement already satisfied: grpcio-status<2.0.dev0,>=1.33.2 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (1.57.0)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (1.5.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from packaging>=17.0->db-dtypes<2.0.0,>=1.0.4->pandas-gbq) (2.4.7)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from pyasn1-modules>=0.2.1->google-auth>=2.13.0->pandas-gbq) (0.4.8)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (2020.6.20)
Requirement already satisfied: oauthlib>=3.0.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.7.0->pandas-gbq) (3.2.1)

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: pip install --upgrade pip

In [3]:
pip install pandas-gbq

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Requirement already satisfied: pandas-gbq in /usr/local/lib/python3.9/site-packages (0.19.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.9/site-packages (from pandas-gbq) (68.1.2)
Requirement already satisfied: db-dtypes<2.0.0,>=1.0.4 in /usr/local/lib/python3.9/site-packages (from pandas-gbq) (1.1.1)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.9/site-packages (from pandas-gbq) (1.25.2)
Requirement already satisfied: pandas>=1.1.4 in /usr/local/lib/python3.9/site-packages (from pandas-gbq) (2.1.0)
Requirement already satisfied: pyarrow>=3.0.0 in /usr/local/lib/python3.9/site-packages (from pandas-gbq) (13.0.0)
Requirement already satisfied: pydata-google-auth>=1.5.0 in /usr/local/lib/python3.9/site-packages (from pandas-gbq) (1.8.2)
Requirement already satisfied: google-api-core<3.0.0dev,>=2.10.2 in /usr/local/lib/python3.9/site-packages (from pandas-gbq) (2.11.1)
Requirement already satisfied: google-auth>=2.13.0 in /usr/local/lib/python3.9/site-packages (from pandas-gbq) (2.22.0)
Requirement already satisfied: google-auth-oauthlib>=0.7.0 in /usr/local/lib/python3.9/site-packages (from pandas-gbq) (1.0.0)
Requirement already satisfied: google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5 in /usr/local/lib/python3.9/site-packages (from pandas-gbq) (3.11.4)
Requirement already satisfied: google-cloud-bigquery-storage<3.0.0dev,>=2.16.2 in /usr/local/lib/python3.9/site-packages (from pandas-gbq) (2.22.0)
Requirement already satisfied: packaging>=17.0 in /Users/ellvin/Library/Python/3.9/lib/python/site-packages (from db-dtypes<2.0.0,>=1.0.4->pandas-gbq) (23.1)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in /usr/local/lib/python3.9/site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (1.60.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0.dev0,>=3.19.5 in /usr/local/lib/python3.9/site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (4.24.2)
Requirement already satisfied: requests<3.0.0.dev0,>=2.18.0 in /usr/local/lib/python3.9/site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (2.31.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.9/site-packages (from google-auth>=2.13.0->pandas-gbq) (5.3.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.9/site-packages (from google-auth>=2.13.0->pandas-gbq) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.9/site-packages (from google-auth>=2.13.0->pandas-gbq) (4.9)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.9/site-packages (from google-auth>=2.13.0->pandas-gbq) (1.16.0)
Requirement already satisfied: urllib3<2.0 in /usr/local/lib/python3.9/site-packages (from google-auth>=2.13.0->pandas-gbq) (1.26.16)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.9/site-packages (from google-auth-oauthlib>=0.7.0->pandas-gbq) (1.3.1)
Requirement already satisfied: grpcio<2.0dev,>=1.47.0 in /usr/local/lib/python3.9/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (1.57.0)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.15.0 in /usr/local/lib/python3.9/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (1.22.3)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.6.0 in /usr/local/lib/python3.9/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (2.3.3)
Requirement already satisfied: google-resumable-media<3.0dev,>=0.6.0 in /usr/local/lib/python3.9/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (2.6.0)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in /Users/ellvin/Library/Python/3.9/lib/python/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/site-packages (from pandas>=1.1.4->pandas-gbq) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.9/site-packages (from pandas>=1.1.4->pandas-gbq) (2023.3)
Requirement already satisfied: grpcio-status<2.0.dev0,>=1.33.2 in /usr/local/lib/python3.9/site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (1.57.0)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /usr/local/lib/python3.9/site-packages (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (1.5.0)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /usr/local/lib/python3.9/site-packages (from pyasn1-modules>=0.2.1->google-auth>=2.13.0->pandas-gbq) (0.5.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.9/site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (2023.7.22)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.9/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.7.0->pandas-gbq) (3.2.2)
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621

[notice] A new release of pip is available: 23.2.1 -> 23.3
[notice] To update, run: python3.9 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [4]:
from google.oauth2 import service_account
import pandas as pd
import pandas_gbq as gbq
credentials_path = 'token.json'

# Authenticate with your credentials
credentials = service_account.Credentials.from_service_account_file(
    credentials_path, scopes=['https://www.googleapis.com/auth/bigquery'])

# Set the credentials for pandas_gbq
gbq.context.credentials = credentials

In [5]:
project_id = 'capstone-402105'
dataset_id = 'capstone'
table_id = "compna_removed_na"

In [7]:
from pandas_gbq import read_gbq

query = f"""
SELECT *
FROM `{project_id}.{dataset_id}.{table_id}`

"""

# Authenticate and read data from BigQuery into a DataFrame
df = read_gbq(query, project_id=project_id, dialect='standard')
df

Downloading: 100%|██████████|

,gvkey,datadate,fyearq,fqtr,fyr,indfmt,consol,popsrc,datafmt,tic,...,naics,phone,priusa,sic,spcindcd,spcseccd,spcsrc,state,stko,weburl
0,15005,4/30/2004,2003,4.0,4,INDL,C,D,STD,GEAC.,...,541512.0,nan,1.0,7373.0,454.0,940.0,B-,ON,0.0,nan
1,17366,9/30/2000,2000,4.0,9,INDL,C,D,STD,AVMC,...,541512.0,801-495-5700,1.0,7373.0,370.0,925.0,nan,UT,3.0,nan
2,17366,3/31/2001,2001,2.0,9,INDL,C,D,STD,AVMC,...,541512.0,801-495-5700,1.0,7373.0,370.0,925.0,nan,UT,3.0,nan
3,17366,3/31/2003,2003,2.0,9,INDL,C,D,STD,AVMC,...,541512.0,801-495-5700,1.0,7373.0,370.0,925.0,nan,UT,3.0,nan
4,17692,6/30/2011,2011,2.0,12,INDL,C,D,STD,CYNI,...,541512.0,707-735-2300,1.0,7373.0,nan,nan,nan,CA,0.0,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487215,13824,9/30/2004,2004,4.0,9,INDL,C,D,STD,FICO,...,541512.0,406 982 7276,1.0,7373.0,185.0,940.0,B+,MT,0.0,www.fico.com
487216,13828,6/30/2002,2002,3.0,9,INDL,C,D,STD,CADA.,...,541512.0,888 427 2260,1.0,7373.0,454.0,940.0,B-,GA,0.0,nan
487217,14416,6/30/2000,2000,2.0,12,INDL,C,D,STD,COPE,...,541512.0,41 41 726 03 20,1.0,7373.0,454.0,940.0,nan,nan,0.0,www.Mount10.com
487218,15005,1/31/2001,2000,3.0,4,INDL,C,D,STD,GEAC.,...,541512.0,nan,1.0,7373.0,454.0,940.0,B-,ON,0.0,nan
487219,15005,10/31/2002,2002,2.0,4,INDL,C,D,STD,GEAC.,...,541512.0,nan,1.0,7373.0,454.0,940.0,B-,ON,0.0,nan

Read from CSV

In [133]:
df = pd.read_csv("compna_full.csv")

/var/folders/rz/d40gjr2505ddk3wl3mnzmvdm0000gn/T/ipykernel_89376/115573616.py:1: DtypeWarning: Columns (10,12,13,17,18,20,25,26,30,32,33,34,35,647,648,649,650,654,656,664,668,669,674,675,678,679) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("compna_full.csv")

In [232]:
df.columns

Index(['gvkey', 'datadate', 'fyearq', 'fqtr', 'fyr', 'indfmt', 'consol',
       'popsrc', 'datafmt', 'tic',
       ...
       'priusa', 'sic', 'spcindcd', 'spcseccd', 'spcsrc', 'state', 'stko',
       'weburl', 'dldte', 'ipodate'],
      dtype='object', length=680)

In [233]:
df.isna().sum().sort_values(ascending=False)

ustdncy     1075567
uwkcapcy    1075566
unwccy      1075566
utfdocy     1075562
ufretsdy    1075562
             ...
indfmt            0
consol            0
conml             0
city              0
gvkey             0
Length: 680, dtype: int64

In [234]:
#count of number of rows and unique companies
print(df.shape[0])
print(df.gvkey.nunique())

1075571
30239

In [313]:
cols = ['gvkey', 'cik', 'tic', 'datadate', 'sic', 'atq', 'rectq', 'wcapq', 'actq', 'lctq', 'invtq', 'chechy', 'dlttq', 'dlcq', 'ceqq', 'oancfy', 'revtq', 'cogsq', 'niq', 'prccq', 'xoprq', 'dpq', 'oibdpq', 'xintq', 'nopiq', 'dvpspq', 'epsfxq']
print(len(cols))

27

In [315]:
# new_df contains columns with relevant columns for financial ratios
new_df = df[cols]
new_df

,gvkey,cik,tic,datadate,sic,atq,rectq,wcapq,actq,lctq,...,cogsq,niq,prccq,xoprq,dpq,oibdpq,xintq,nopiq,dvpspq,epsfxq
0,1004,1750.0,AIR,2000-02-29,5080,753.755,169.511,350.202,526.935,176.733,...,222.672,10.955,23.7500,247.076,4.585,25.255,5.979,0.959,0.0850,0.40
1,1004,1750.0,AIR,2000-05-31,5080,740.998,128.348,347.451,511.267,163.816,...,182.440,2.471,13.8750,212.079,4.778,13.000,5.682,0.370,0.0850,0.09
2,1004,1750.0,AIR,2000-08-31,5080,747.543,126.206,341.996,510.278,168.282,...,202.661,3.159,11.2500,227.205,4.694,14.565,5.988,0.506,0.0850,0.12
3,1004,1750.0,AIR,2000-11-30,5080,772.941,127.565,325.382,514.749,189.367,...,171.482,4.278,10.3750,195.361,4.516,15.974,5.718,0.245,0.0850,0.16
4,1004,1750.0,AIR,2001-02-28,5080,754.718,132.826,358.685,526.537,167.852,...,159.537,5.388,13.6000,182.824,4.788,17.247,5.433,0.450,0.0850,0.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1075566,353945,1948862.0,ACLLY,2022-06-30,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1075567,353945,1948862.0,ACLLY,2022-09-30,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1075568,353945,1948862.0,ACLLY,2022-12-31,3621,981.551,230.889,328.508,614.904,286.396,...,404.969,122.801,20.6930,605.658,22.745,174.880,0.555,4.903,0.0000,1.31
1075569,354003,NaN,BEMB,2023-03-31,6722,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1075570,354003,NaN,BEMB,2023-06-30,6722,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,51.0625,NaN,NaN,NaN,NaN,NaN,0.9085,NaN

In [316]:
cik_count = new_df[new_df['cik'].isna()]
cik_count.gvkey.nunique()

9035

In [317]:
#drop rows where cik is NaN
new_df.dropna(subset=['cik'], inplace=True)
new_df.reset_index(drop=True, inplace=True)
new_df

/var/folders/rz/d40gjr2505ddk3wl3mnzmvdm0000gn/T/ipykernel_89376/147290598.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.dropna(subset=['cik'], inplace=True)

,gvkey,cik,tic,datadate,sic,atq,rectq,wcapq,actq,lctq,...,cogsq,niq,prccq,xoprq,dpq,oibdpq,xintq,nopiq,dvpspq,epsfxq
0,1004,1750.0,AIR,2000-02-29,5080,753.755,169.511,350.202,526.935,176.733,...,222.672,10.955,23.750,247.076,4.585,25.255,5.979,0.959,0.085,0.40
1,1004,1750.0,AIR,2000-05-31,5080,740.998,128.348,347.451,511.267,163.816,...,182.440,2.471,13.875,212.079,4.778,13.000,5.682,0.370,0.085,0.09
2,1004,1750.0,AIR,2000-08-31,5080,747.543,126.206,341.996,510.278,168.282,...,202.661,3.159,11.250,227.205,4.694,14.565,5.988,0.506,0.085,0.12
3,1004,1750.0,AIR,2000-11-30,5080,772.941,127.565,325.382,514.749,189.367,...,171.482,4.278,10.375,195.361,4.516,15.974,5.718,0.245,0.085,0.16
4,1004,1750.0,AIR,2001-02-28,5080,754.718,132.826,358.685,526.537,167.852,...,159.537,5.388,13.600,182.824,4.788,17.247,5.433,0.450,0.085,0.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839739,353945,1948862.0,ACLLY,2021-12-31,3621,686.085,205.966,110.740,436.863,326.123,...,377.304,138.508,NaN,549.973,23.511,206.493,1.379,2.599,NaN,1.48
839740,353945,1948862.0,ACLLY,2022-03-31,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
839741,353945,1948862.0,ACLLY,2022-06-30,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
839742,353945,1948862.0,ACLLY,2022-09-30,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
839743,353945,1948862.0,ACLLY,2022-12-31,3621,981.551,230.889,328.508,614.904,286.396,...,404.969,122.801,20.693,605.658,22.745,174.880,0.555,4.903,0.000,1.31

In [318]:
new_df.dtypes

gvkey         int64
cik         float64
tic          object
datadate     object
sic           int64
atq         float64
rectq       float64
wcapq       float64
actq        float64
lctq        float64
invtq       float64
chechy      float64
dlttq       float64
dlcq        float64
ceqq        float64
oancfy      float64
revtq       float64
cogsq       float64
niq         float64
prccq       float64
xoprq       float64
dpq         float64
oibdpq      float64
xintq       float64
nopiq       float64
dvpspq      float64
epsfxq      float64
dtype: object

In [319]:
#convert `datadate` to datetime
new_df['datadate'] = pd.to_datetime(new_df['datadate'])
new_df['datadate']

/var/folders/rz/d40gjr2505ddk3wl3mnzmvdm0000gn/T/ipykernel_89376/3980530505.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['datadate'] = pd.to_datetime(new_df['datadate'])

0        2000-02-29
1        2000-05-31
2        2000-08-31
3        2000-11-30
4        2001-02-28
            ...
839739   2021-12-31
839740   2022-03-31
839741   2022-06-30
839742   2022-09-30
839743   2022-12-31
Name: datadate, Length: 839744, dtype: datetime64[ns]

In [320]:
new_df = new_df.sort_values(by=['gvkey', 'datadate'])
new_df

,gvkey,cik,tic,datadate,sic,atq,rectq,wcapq,actq,lctq,...,cogsq,niq,prccq,xoprq,dpq,oibdpq,xintq,nopiq,dvpspq,epsfxq
0,1004,1750.0,AIR,2000-02-29,5080,753.755,169.511,350.202,526.935,176.733,...,222.672,10.955,23.750,247.076,4.585,25.255,5.979,0.959,0.085,0.40
1,1004,1750.0,AIR,2000-05-31,5080,740.998,128.348,347.451,511.267,163.816,...,182.440,2.471,13.875,212.079,4.778,13.000,5.682,0.370,0.085,0.09
2,1004,1750.0,AIR,2000-08-31,5080,747.543,126.206,341.996,510.278,168.282,...,202.661,3.159,11.250,227.205,4.694,14.565,5.988,0.506,0.085,0.12
3,1004,1750.0,AIR,2000-11-30,5080,772.941,127.565,325.382,514.749,189.367,...,171.482,4.278,10.375,195.361,4.516,15.974,5.718,0.245,0.085,0.16
4,1004,1750.0,AIR,2001-02-28,5080,754.718,132.826,358.685,526.537,167.852,...,159.537,5.388,13.600,182.824,4.788,17.247,5.433,0.450,0.085,0.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839739,353945,1948862.0,ACLLY,2021-12-31,3621,686.085,205.966,110.740,436.863,326.123,...,377.304,138.508,NaN,549.973,23.511,206.493,1.379,2.599,NaN,1.48
839740,353945,1948862.0,ACLLY,2022-03-31,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
839741,353945,1948862.0,ACLLY,2022-06-30,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
839742,353945,1948862.0,ACLLY,2022-09-30,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
839743,353945,1948862.0,ACLLY,2022-12-31,3621,981.551,230.889,328.508,614.904,286.396,...,404.969,122.801,20.693,605.658,22.745,174.880,0.555,4.903,0.000,1.31

In [321]:
# #convert numerical colums to flaot
# cols_convert = ['atq', 'rectq', 'wcapq', 'actq', 'lctq', 'invtq', 'chechy', 'dlttq', 'ceqq', 'oancfy', 'revtq', 'cogsq', 'niq', 'prccq', 'epsf12', 'req', 'xoprq', 'dpq', 'oibdpq', 'xintq', 'nopiq', 'txtq']
# new_df[cols_convert] = new_df[cols_convert].astype(float)
# new_df.dtypes

In [322]:
new_df.isna().sum().sort_values()

gvkey            0
cik              0
datadate         0
sic              0
tic             90
niq          88275
dvpspq       90461
cogsq        93777
xoprq        96817
nopiq       100303
atq         110896
ceqq        114272
epsfxq      117001
dlttq       117020
prccq       124169
rectq       128569
invtq       128620
oancfy      144538
chechy      144745
dlcq        151277
revtq       151772
oibdpq      156183
dpq         166466
lctq        239896
actq        241399
wcapq       242469
xintq       244087
dtype: int64

In [323]:
#check for nan ticker
new_df[new_df['tic'].isna()].gvkey.unique()

array([ 32213,  41328, 114160, 144220, 179078, 183445])

In [324]:
#drop companies with nan tic
new_df.dropna(subset=['tic'], inplace=True)
new_df.reset_index(drop=True, inplace=True)
new_df

,gvkey,cik,tic,datadate,sic,atq,rectq,wcapq,actq,lctq,...,cogsq,niq,prccq,xoprq,dpq,oibdpq,xintq,nopiq,dvpspq,epsfxq
0,1004,1750.0,AIR,2000-02-29,5080,753.755,169.511,350.202,526.935,176.733,...,222.672,10.955,23.750,247.076,4.585,25.255,5.979,0.959,0.085,0.40
1,1004,1750.0,AIR,2000-05-31,5080,740.998,128.348,347.451,511.267,163.816,...,182.440,2.471,13.875,212.079,4.778,13.000,5.682,0.370,0.085,0.09
2,1004,1750.0,AIR,2000-08-31,5080,747.543,126.206,341.996,510.278,168.282,...,202.661,3.159,11.250,227.205,4.694,14.565,5.988,0.506,0.085,0.12
3,1004,1750.0,AIR,2000-11-30,5080,772.941,127.565,325.382,514.749,189.367,...,171.482,4.278,10.375,195.361,4.516,15.974,5.718,0.245,0.085,0.16
4,1004,1750.0,AIR,2001-02-28,5080,754.718,132.826,358.685,526.537,167.852,...,159.537,5.388,13.600,182.824,4.788,17.247,5.433,0.450,0.085,0.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839649,353945,1948862.0,ACLLY,2021-12-31,3621,686.085,205.966,110.740,436.863,326.123,...,377.304,138.508,NaN,549.973,23.511,206.493,1.379,2.599,NaN,1.48
839650,353945,1948862.0,ACLLY,2022-03-31,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
839651,353945,1948862.0,ACLLY,2022-06-30,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
839652,353945,1948862.0,ACLLY,2022-09-30,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
839653,353945,1948862.0,ACLLY,2022-12-31,3621,981.551,230.889,328.508,614.904,286.396,...,404.969,122.801,20.693,605.658,22.745,174.880,0.555,4.903,0.000,1.31

In [325]:
#count of number of rows and unique companies after dropping 'cik' and 'tic' nan values
print(new_df.shape[0])
print(new_df.gvkey.nunique())

839654
21198

In [326]:
#count number of NaN in each row
nan_count = new_df.isna().sum(axis=1)

# Create a new column with the NaN count
new_df['nan_count'] = nan_count
new_df

,gvkey,cik,tic,datadate,sic,atq,rectq,wcapq,actq,lctq,...,niq,prccq,xoprq,dpq,oibdpq,xintq,nopiq,dvpspq,epsfxq,nan_count
0,1004,1750.0,AIR,2000-02-29,5080,753.755,169.511,350.202,526.935,176.733,...,10.955,23.750,247.076,4.585,25.255,5.979,0.959,0.085,0.40,0
1,1004,1750.0,AIR,2000-05-31,5080,740.998,128.348,347.451,511.267,163.816,...,2.471,13.875,212.079,4.778,13.000,5.682,0.370,0.085,0.09,0
2,1004,1750.0,AIR,2000-08-31,5080,747.543,126.206,341.996,510.278,168.282,...,3.159,11.250,227.205,4.694,14.565,5.988,0.506,0.085,0.12,0
3,1004,1750.0,AIR,2000-11-30,5080,772.941,127.565,325.382,514.749,189.367,...,4.278,10.375,195.361,4.516,15.974,5.718,0.245,0.085,0.16,0
4,1004,1750.0,AIR,2001-02-28,5080,754.718,132.826,358.685,526.537,167.852,...,5.388,13.600,182.824,4.788,17.247,5.433,0.450,0.085,0.20,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839649,353945,1948862.0,ACLLY,2021-12-31,3621,686.085,205.966,110.740,436.863,326.123,...,138.508,NaN,549.973,23.511,206.493,1.379,2.599,NaN,1.48,2
839650,353945,1948862.0,ACLLY,2022-03-31,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22
839651,353945,1948862.0,ACLLY,2022-06-30,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22
839652,353945,1948862.0,ACLLY,2022-09-30,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22
839653,353945,1948862.0,ACLLY,2022-12-31,3621,981.551,230.889,328.508,614.904,286.396,...,122.801,20.693,605.658,22.745,174.880,0.555,4.903,0.000,1.31,0

In [327]:
def total_nan_percentage(group):
    total_count = group.shape[0] * group.shape[1]
    nan_count = group['nan_count'].sum()
    return (nan_count / total_count) * 100

nan_result = new_df.groupby('gvkey').apply(total_nan_percentage)
nan_result.sort_values(ascending=False)

gvkey
22251     78.571429
14608     78.571429
9493      78.571429
6423      78.571429
8145      78.571429
            ...
165523     0.000000
165535     0.000000
30138      0.000000
30121      0.000000
29904      0.000000
Length: 21198, dtype: float64

In [328]:
#get list of companies where NaN percentage >= 80%
list_of_companies = nan_result[nan_result >= 75].index.tolist()
print(list_of_companies)
print(len(nan_result[nan_result >= 75].index.tolist()))

[1417, 3279, 3819, 5457, 6000, 6423, 6667, 7102, 8145, 8335, 9493, 10341, 10820, 11137, 11878, 12161, 12324, 13212, 13935, 13958, 14038, 14608, 14659, 14666, 14681, 14692, 14694, 14698, 14700, 14703, 14715, 14716, 14728, 14733, 14734, 14735, 14737, 14740, 14743, 14747, 14748, 14749, 14752, 14760, 14763, 14769, 14779, 14804, 14846, 14969, 14971, 15226, 15367, 15372, 15373, 15377, 15381, 15384, 15385, 15386, 15391, 15398, 16068, 16093, 16482, 16484, 16530, 16533, 16579, 16654, 16798, 17102, 17200, 17210, 17280, 17330, 17402, 17411, 17839, 17840, 18038, 18039, 18046, 18210, 18243, 18245, 18767, 18776, 18817, 19038, 19434, 20066, 20190, 20819, 20912, 21065, 21169, 21236, 21829, 22251, 22307, 22310, 23048, 23593, 23675, 24554, 24555, 24683, 24729, 24784, 24917, 24939, 25014, 25039, 25040, 25042, 25064, 25163, 25211, 25244, 25290, 25301, 25307, 25329, 25415, 25416, 25524, 25555, 25567, 25594, 25659, 25742, 25908, 25909, 25911, 25912, 25941, 26104, 26116, 26238, 26930, 27269, 27625, 27849, 27853, 27857, 27859, 27876, 27949, 27954, 27956, 27963, 28131, 28302, 28308, 28336, 28404, 28406, 28473, 28605, 28606, 28638, 28643, 28654, 28800, 29000, 29006, 29210, 29219, 29399, 29412, 29573, 29991, 30395, 32050, 32250, 32478, 32680, 33428, 34279, 36800, 37238, 38460, 41722, 64729, 65123, 65452, 65496, 66389, 66577, 66605, 107496, 109588, 109921, 110246, 110531, 112006, 112171, 112875, 115557, 115560, 116213, 117822, 117823, 117824, 117825, 117826, 117827, 117828, 117842, 119082, 120819, 120820, 120821, 123215, 125517, 125527, 142935, 144620, 144621, 144622, 144623, 144624, 145414, 145415, 145766, 145767, 145768, 146081, 146217, 146538, 146885, 146886, 147432, 147641, 147831, 147841, 148430, 148431, 148432, 148435, 148436, 148440, 149263, 149697, 149698, 149701, 150158, 150241, 150242, 150243, 150680, 150700, 150701, 150702, 150725, 151157, 151159, 151160, 151162, 151163, 151164, 151572, 151574, 151575, 151610, 151611, 151613, 151614, 151615, 151616, 151617, 151618, 151619, 152013, 152028, 152029, 152071, 152548, 152909, 153252, 153253, 153713, 153773, 154133, 154374, 154585, 154609, 154673, 155102, 155321, 155324, 155326, 155335, 155336, 155338, 155895, 155896, 155936, 156513, 156514, 156521, 156522, 156825, 157040, 157041, 157418, 157479, 157480, 158456, 158494, 160252, 160287, 160288, 160303, 160305, 160554, 160749, 160750, 160952, 160953, 160955, 161125, 161791, 161954, 162123, 162124, 162125, 162391, 162571, 162854, 162855, 163025, 163029, 163614, 163844, 163846, 164006, 164010, 164011, 164012, 164189, 164197, 164415, 164420, 164688, 164689, 165225, 165435, 165436, 165437, 165439, 165606, 165809, 166391, 170589, 170597, 170966, 171153, 174093, 174359, 174360, 174999, 175619, 175635, 175887, 176093, 176100, 176142, 176333, 176560, 176561, 176744, 176794, 176983, 177052, 177053, 177055, 177057, 177244, 177280, 177424, 177533, 177534, 177536, 177537, 177644, 177786, 177787, 177790, 177791, 177792, 178019, 178020, 178021, 178395, 178406, 178424, 178425, 178919, 178984, 179148, 179341, 180712, 182550, 182747, 182921, 182922, 182924, 182925, 183198, 183325, 183620, 183918, 183919, 183933, 184222, 184224, 184363, 184364, 184768, 184936, 185157, 185484, 185565, 185593, 185608, 185965, 185966, 185968, 186152, 186331, 186332, 186556, 186817, 187099, 187284, 187290, 187694, 187962, 260846, 260847, 260849, 260853, 264645, 264647, 264686, 275107]
448

In [329]:
drop = new_df[~new_df['gvkey'].isin(list_of_companies)]
drop

,gvkey,cik,tic,datadate,sic,atq,rectq,wcapq,actq,lctq,...,niq,prccq,xoprq,dpq,oibdpq,xintq,nopiq,dvpspq,epsfxq,nan_count
0,1004,1750.0,AIR,2000-02-29,5080,753.755,169.511,350.202,526.935,176.733,...,10.955,23.750,247.076,4.585,25.255,5.979,0.959,0.085,0.40,0
1,1004,1750.0,AIR,2000-05-31,5080,740.998,128.348,347.451,511.267,163.816,...,2.471,13.875,212.079,4.778,13.000,5.682,0.370,0.085,0.09,0
2,1004,1750.0,AIR,2000-08-31,5080,747.543,126.206,341.996,510.278,168.282,...,3.159,11.250,227.205,4.694,14.565,5.988,0.506,0.085,0.12,0
3,1004,1750.0,AIR,2000-11-30,5080,772.941,127.565,325.382,514.749,189.367,...,4.278,10.375,195.361,4.516,15.974,5.718,0.245,0.085,0.16,0
4,1004,1750.0,AIR,2001-02-28,5080,754.718,132.826,358.685,526.537,167.852,...,5.388,13.600,182.824,4.788,17.247,5.433,0.450,0.085,0.20,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839649,353945,1948862.0,ACLLY,2021-12-31,3621,686.085,205.966,110.740,436.863,326.123,...,138.508,NaN,549.973,23.511,206.493,1.379,2.599,NaN,1.48,2
839650,353945,1948862.0,ACLLY,2022-03-31,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22
839651,353945,1948862.0,ACLLY,2022-06-30,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22
839652,353945,1948862.0,ACLLY,2022-09-30,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22
839653,353945,1948862.0,ACLLY,2022-12-31,3621,981.551,230.889,328.508,614.904,286.396,...,122.801,20.693,605.658,22.745,174.880,0.555,4.903,0.000,1.31,0

In [330]:
#drop companies
new_df = new_df[~new_df['gvkey'].isin(list_of_companies)]
new_df

,gvkey,cik,tic,datadate,sic,atq,rectq,wcapq,actq,lctq,...,niq,prccq,xoprq,dpq,oibdpq,xintq,nopiq,dvpspq,epsfxq,nan_count
0,1004,1750.0,AIR,2000-02-29,5080,753.755,169.511,350.202,526.935,176.733,...,10.955,23.750,247.076,4.585,25.255,5.979,0.959,0.085,0.40,0
1,1004,1750.0,AIR,2000-05-31,5080,740.998,128.348,347.451,511.267,163.816,...,2.471,13.875,212.079,4.778,13.000,5.682,0.370,0.085,0.09,0
2,1004,1750.0,AIR,2000-08-31,5080,747.543,126.206,341.996,510.278,168.282,...,3.159,11.250,227.205,4.694,14.565,5.988,0.506,0.085,0.12,0
3,1004,1750.0,AIR,2000-11-30,5080,772.941,127.565,325.382,514.749,189.367,...,4.278,10.375,195.361,4.516,15.974,5.718,0.245,0.085,0.16,0
4,1004,1750.0,AIR,2001-02-28,5080,754.718,132.826,358.685,526.537,167.852,...,5.388,13.600,182.824,4.788,17.247,5.433,0.450,0.085,0.20,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839649,353945,1948862.0,ACLLY,2021-12-31,3621,686.085,205.966,110.740,436.863,326.123,...,138.508,NaN,549.973,23.511,206.493,1.379,2.599,NaN,1.48,2
839650,353945,1948862.0,ACLLY,2022-03-31,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22
839651,353945,1948862.0,ACLLY,2022-06-30,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22
839652,353945,1948862.0,ACLLY,2022-09-30,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22
839653,353945,1948862.0,ACLLY,2022-12-31,3621,981.551,230.889,328.508,614.904,286.396,...,122.801,20.693,605.658,22.745,174.880,0.555,4.903,0.000,1.31,0

In [331]:
#check total/current assets, current liabalities, long-term and current debt
total_asset_zero = new_df[new_df['atq'] <= 0].groupby('gvkey')['atq'].count()
print(len(total_asset_zero))
print(total_asset_zero.index.tolist())

current_asset_zero = new_df[new_df['actq'] <= 0].groupby('gvkey')['actq'].count()
print(len(current_asset_zero))
print(current_asset_zero.index.tolist())

current_liabilities_zero = new_df[new_df['lctq'] <= 0].groupby('gvkey')['lctq'].count()
print(len(current_liabilities_zero))
print(current_liabilities_zero.index.tolist())

# longterm_debt_zero = new_df[new_df['dlttq'] <= 0].groupby('gvkey')['dlttq'].count()
# print(len(longterm_debt_zero))
# print(longterm_debt_zero.index.tolist())

# current_debt_zero = new_df[new_df['dlcq'] <= 0].groupby('gvkey')['dlcq'].count()
# print(len(current_debt_zero))
# print(current_debt_zero.index.tolist())

625
[1084, 1272, 1681, 1718, 2109, 3363, 4173, 4341, 4544, 4853, 5202, 5215, 5479, 5971, 6051, 6170, 6467, 6522, 6683, 6741, 8045, 9330, 9443, 9603, 9607, 10392, 10474, 10476, 10791, 11708, 11730, 11739, 11836, 11885, 11905, 11916, 12031, 12109, 12132, 12134, 12464, 12466, 12573, 12595, 12645, 12746, 12763, 12807, 12890, 12988, 13188, 13344, 13382, 13392, 13537, 13631, 13882, 13909, 13916, 14286, 14547, 14556, 14568, 14855, 14957, 14983, 15068, 15253, 15410, 15492, 15858, 16039, 16054, 16160, 16494, 16524, 16564, 16655, 17213, 17224, 17284, 17286, 17291, 17325, 17326, 17333, 17449, 17537, 17572, 17651, 17879, 17917, 17924, 17932, 17985, 18027, 18091, 18295, 18326, 18395, 18429, 18438, 18492, 18632, 18685, 18734, 18949, 19122, 19173, 19317, 19329, 19378, 19379, 19527, 19790, 19941, 19943, 20054, 20216, 20547, 20776, 20934, 21032, 21139, 21189, 21283, 21320, 21432, 21576, 22120, 22139, 22198, 22220, 22401, 22882, 22963, 23094, 23262, 23288, 23403, 23490, 23561, 23623, 24147, 24665, 24730, 24741, 24797, 24830, 24865, 24887, 24923, 25089, 25191, 25603, 25808, 25969, 26028, 26201, 26579, 26761, 27016, 27089, 27139, 27582, 27594, 27912, 27921, 27975, 28107, 28421, 28484, 28597, 28736, 28759, 29063, 29281, 29675, 29752, 29760, 29772, 29816, 30592, 30616, 30641, 30921, 31001, 31127, 31131, 31154, 31232, 31258, 31372, 31401, 31524, 31525, 31578, 31595, 31793, 32255, 32269, 32347, 32864, 33011, 33113, 33183, 34161, 34420, 34914, 35605, 35611, 35856, 37079, 37378, 37592, 39839, 60863, 61158, 61218, 61271, 61588, 61650, 61673, 61888, 61940, 62019, 62116, 62118, 62181, 62209, 62276, 62343, 62401, 62446, 62626, 62663, 62703, 63026, 63028, 63516, 63875, 63882, 64483, 64736, 64744, 64993, 65054, 65107, 65229, 65447, 65455, 65703, 65722, 65856, 66046, 66136, 66139, 66171, 66175, 66183, 66483, 66515, 105317, 105325, 105441, 106093, 106509, 106621, 106687, 106977, 107543, 107805, 108191, 108319, 109519, 109640, 109923, 110040, 110289, 110519, 111022, 111079, 111104, 111535, 111871, 113224, 113486, 114187, 114225, 114368, 114380, 114653, 114747, 114830, 115081, 115313, 115356, 115592, 116025, 116324, 116903, 117002, 117027, 117843, 118182, 118673, 119133, 119215, 119473, 119576, 119594, 120113, 121136, 121200, 121318, 121560, 121661, 122170, 122200, 122219, 123714, 123796, 123805, 124761, 125376, 125794, 126007, 126029, 126046, 126797, 127314, 127477, 127479, 127640, 127642, 127655, 127659, 127843, 128762, 129423, 129441, 130298, 130299, 131426, 133049, 134504, 134867, 135244, 135401, 135527, 136827, 137141, 137430, 137511, 137512, 137608, 137884, 138124, 139130, 140522, 140568, 140758, 141005, 141006, 141023, 141196, 141242, 141467, 141740, 142155, 142171, 142254, 142276, 142541, 142566, 142818, 143012, 143053, 143285, 143378, 143467, 143582, 143892, 144110, 144275, 144356, 144398, 144416, 144564, 144754, 144755, 144888, 145026, 145060, 145206, 145207, 145287, 145313, 145327, 145553, 145622, 145771, 145935, 145991, 146072, 146138, 146204, 146435, 146546, 146840, 147308, 147336, 147411, 147434, 147459, 147891, 148008, 148409, 148429, 148651, 149577, 149820, 149997, 150399, 150439, 150459, 150465, 150467, 150520, 150639, 151279, 151286, 151828, 152070, 152430, 152692, 153630, 154113, 154274, 155894, 155913, 156737, 157076, 158133, 160214, 160331, 160775, 160917, 161074, 162346, 163951, 164146, 165463, 165468, 165540, 165648, 165869, 165991, 166447, 166586, 166595, 170356, 170391, 170409, 170430, 170543, 170567, 170605, 170763, 170833, 170839, 170855, 170945, 170995, 171074, 171106, 171212, 171220, 174483, 175230, 175389, 175531, 175969, 176079, 176137, 176183, 176327, 176412, 176691, 176917, 177190, 177838, 177920, 178073, 178080, 178303, 178317, 178337, 178384, 178401, 178482, 178513, 178655, 178754, 178891, 179055, 179141, 179182, 179204, 179507, 179526, 179543, 179660, 179694, 179750, 179771, 180007, 180021, 180169, 180194, 180267, 180296, 180327, 180436, 180695, 180899, 181102, 181445, 181520, 181781, 181790, 181800, 181837, 181870, 182023, 182145, 182395, 182404, 182479, 182609, 182915, 182984, 183155, 183287, 183328, 183332, 183488, 183755, 184155, 184185, 184237, 184275, 184436, 184511, 184597, 184686, 185068, 185312, 185392, 185423, 185622, 185701, 185773, 185774, 185801, 185891, 185950, 185979, 186110, 186126, 186162, 186166, 186192, 186240, 186250, 186272, 186289, 186362, 186371, 186537, 186545, 186568, 186571, 186647, 186654, 186658, 186837, 186861, 186887, 187025, 187100, 187110, 187112, 187122, 187135, 187142, 187149, 187166, 187318, 187348, 187352, 187366, 187409, 187473, 187496, 187587, 187627, 187711, 187742, 187769, 187956, 188355, 188357, 189359, 189563, 190573, 192755, 193056, 193157, 193159, 193165, 194560, 196258, 198255, 266163]
876
[1084, 1272, 1367, 1681, 1718, 2109, 2258, 2402, 3363, 4051, 4173, 4341, 4544, 4853, 4878, 5202, 5215, 5479, 5971, 6051, 6124, 6170, 6259, 6467, 6522, 6683, 6741, 7243, 7683, 8045, 8192, 9177, 9208, 9330, 9443, 9603, 9607, 9993, 10019, 10392, 10474, 10476, 10626, 10791, 11708, 11730, 11739, 11776, 11836, 11885, 11905, 11916, 12031, 12109, 12132, 12134, 12432, 12464, 12466, 12573, 12595, 12645, 12746, 12763, 12807, 12818, 12860, 12890, 12988, 12996, 13106, 13188, 13344, 13382, 13392, 13471, 13537, 13569, 13631, 13664, 13882, 13909, 13916, 14017, 14090, 14286, 14460, 14547, 14552, 14556, 14568, 14855, 14957, 14983, 15068, 15129, 15253, 15292, 15410, 15453, 15492, 15858, 16039, 16054, 16130, 16160, 16494, 16505, 16524, 16535, 16564, 16655, 16719, 16745, 16797, 17213, 17224, 17284, 17286, 17291, 17325, 17326, 17333, 17449, 17491, 17537, 17572, 17651, 17716, 17879, 17917, 17924, 17932, 17985, 18027, 18091, 18175, 18213, 18295, 18325, 18326, 18395, 18429, 18438, 18492, 18632, 18685, 18734, 18805, 18813, 18909, 18949, 19122, 19173, 19317, 19329, 19378, 19379, 19527, 19622, 19790, 19941, 19943, 19948, 20054, 20216, 20539, 20547, 20694, 20776, 20934, 21032, 21139, 21163, 21189, 21283, 21320, 21432, 21556, 21576, 22120, 22139, 22159, 22181, 22198, 22220, 22401, 22727, 22773, 22854, 22882, 22963, 23094, 23262, 23288, 23403, 23490, 23561, 23623, 24097, 24147, 24424, 24665, 24730, 24741, 24797, 24830, 24865, 24887, 24923, 25089, 25191, 25603, 25808, 25940, 25969, 26028, 26080, 26201, 26218, 26411, 26478, 26579, 26761, 26767, 27016, 27045, 27089, 27139, 27215, 27582, 27594, 27714, 27795, 27912, 27918, 27921, 27975, 28107, 28421, 28429, 28432, 28484, 28597, 28736, 28759, 29063, 29177, 29281, 29675, 29752, 29760, 29772, 29816, 30450, 30592, 30616, 30641, 30921, 31001, 31120, 31127, 31131, 31154, 31232, 31258, 31372, 31401, 31503, 31524, 31525, 31578, 31595, 31793, 32255, 32269, 32347, 32608, 32736, 32864, 32909, 33011, 33103, 33113, 33183, 33858, 33948, 34161, 34269, 34322, 34914, 35247, 35329, 35405, 35483, 35605, 35611, 35830, 35856, 36274, 36299, 36688, 36732, 36808, 36965, 36979, 37079, 37376, 37378, 37501, 37592, 37780, 38057, 39839, 60863, 61056, 61158, 61218, 61271, 61564, 61588, 61650, 61673, 61888, 61940, 62019, 62116, 62118, 62181, 62209, 62210, 62222, 62276, 62304, 62343, 62401, 62412, 62446, 62500, 62626, 62663, 62703, 63026, 63028, 63061, 63106, 63516, 63875, 63882, 64077, 64134, 64483, 64605, 64608, 64689, 64736, 64744, 64993, 65054, 65107, 65194, 65229, 65344, 65447, 65455, 65703, 65722, 65743, 65810, 65856, 66046, 66048, 66136, 66139, 66171, 66175, 66183, 66244, 66253, 66483, 66515, 66596, 100338, 105222, 105317, 105325, 105441, 105851, 105944, 106093, 106265, 106371, 106429, 106509, 106621, 106687, 106977, 106990, 107197, 107481, 107543, 107689, 107805, 107899, 108191, 108294, 108319, 108370, 109188, 109519, 109640, 109923, 110040, 110289, 110486, 110519, 110588, 111022, 111079, 111104, 111535, 111871, 113224, 113486, 113812, 114187, 114225, 114283, 114368, 114380, 114653, 114747, 114830, 115081, 115313, 115356, 115499, 115588, 115592, 116025, 116324, 116903, 117002, 117027, 117029, 117843, 117867, 118182, 118673, 119133, 119215, 119473, 119576, 119594, 119913, 120113, 121136, 121200, 121318, 121560, 121661, 122170, 122200, 122219, 123714, 123796, 123799, 123805, 123806, 124494, 124761, 125376, 125794, 126007, 126029, 126046, 126455, 126797, 127314, 127477, 127479, 127640, 127642, 127655, 127659, 127843, 128019, 128099, 128762, 129423, 129441, 130298, 130299, 130402, 131426, 133049, 134504, 134867, 135244, 135401, 135409, 135527, 136647, 136724, 136727, 136827, 137141, 137430, 137511, 137512, 137608, 137884, 138124, 139130, 139161, 140522, 140568, 140725, 140758, 141005, 141006, 141023, 141196, 141218, 141242, 141390, 141467, 141642, 141740, 141810, 142108, 142155, 142171, 142254, 142276, 142541, 142566, 142818, 142852, 143012, 143053, 143217, 143285, 143378, 143467, 143582, 143625, 143892, 144110, 144117, 144123, 144181, 144275, 144343, 144356, 144398, 144416, 144564, 144754, 144755, 144888, 145003, 145026, 145060, 145206, 145207, 145287, 145313, 145327, 145409, 145515, 145553, 145578, 145622, 145771, 145913, 145935, 145991, 146072, 146136, 146138, 146201, 146204, 146435, 146500, 146520, 146546, 146567, 146840, 147183, 147308, 147336, 147411, 147434, 147459, 147505, 147891, 148008, 148031, 148368, 148409, 148429, 148651, 149360, 149577, 149820, 149997, 149998, 150057, 150203, 150319, 150399, 150439, 150440, 150459, 150465, 150467, 150520, 150639, 150838, 151279, 151286, 151828, 152070, 152250, 152309, 152430, 152692, 152830, 153630, 153993, 154113, 154274, 155894, 155898, 155913, 156737, 156822, 157076, 157080, 158133, 160205, 160214, 160331, 160775, 160917, 161016, 161074, 161120, 162346, 163136, 163951, 164146, 164581, 165463, 165468, 165540, 165648, 165719, 165869, 165991, 166447, 166586, 166595, 170356, 170391, 170409, 170430, 170543, 170567, 170592, 170598, 170605, 170763, 170801, 170833, 170839, 170855, 170945, 170947, 170988, 170995, 171074, 171106, 171165, 171212, 171220, 174091, 174322, 174352, 174483, 175230, 175389, 175531, 175860, 175969, 176079, 176137, 176183, 176327, 176352, 176412, 176503, 176554, 176691, 176706, 176733, 176834, 176917, 177124, 177190, 177254, 177450, 177549, 177838, 177920, 177969, 178073, 178080, 178273, 178303, 178308, 178317, 178337, 178384, 178401, 178482, 178513, 178655, 178754, 178808, 178874, 178891, 178951, 179055, 179141, 179182, 179204, 179216, 179253, 179507, 179526, 179543, 179660, 179694, 179750, 179771, 179778, 180007, 180021, 180194, 180267, 180296, 180327, 180436, 180584, 180695, 180899, 180984, 181102, 181445, 181520, 181781, 181790, 181800, 181837, 181869, 181870, 182023, 182145, 182185, 182395, 182404, 182479, 182609, 182897, 182915, 182967, 182984, 183104, 183155, 183287, 183328, 183332, 183488, 183512, 183700, 183755, 184044, 184155, 184185, 184237, 184275, 184436, 184511, 184548, 184597, 184686, 184789, 185068, 185261, 185312, 185392, 185401, 185423, 185622, 185701, 185773, 185774, 185801, 185891, 185950, 185979, 186097, 186110, 186126, 186162, 186166, 186192, 186235, 186240, 186250, 186272, 186362, 186370, 186371, 186537, 186545, 186568, 186571, 186647, 186654, 186658, 186734, 186774, 186837, 186861, 186887, 186896, 187025, 187100, 187110, 187112, 187122, 187135, 187142, 187149, 187166, 187318, 187348, 187352, 187366, 187409, 187473, 187496, 187587, 187627, 187711, 187742, 187769, 187956, 188355, 188357, 189359, 189563, 190573, 192755, 193056, 193157, 193159, 193165, 194560, 196258, 198255, 199765, 266163]
321
[1272, 1367, 1530, 1705, 2109, 4051, 4173, 4341, 5045, 5202, 5215, 5242, 6051, 6170, 6385, 6522, 7034, 7277, 8045, 8445, 8611, 8803, 9208, 9330, 9393, 9785, 10278, 10392, 10564, 12031, 12573, 12746, 12916, 13141, 13155, 13437, 13631, 13882, 13909, 13916, 13966, 14009, 14255, 14556, 14568, 14855, 15178, 15253, 15410, 15489, 16066, 17284, 17291, 17333, 17449, 17717, 17879, 17932, 18175, 18326, 18429, 18534, 18685, 19378, 19379, 19791, 19825, 20658, 20701, 21163, 21283, 21320, 21345, 22057, 22139, 22759, 23100, 23275, 23288, 23369, 23490, 23623, 24368, 24665, 24672, 25089, 25603, 25776, 25969, 26028, 26059, 26411, 26478, 27045, 27139, 27921, 28093, 28283, 28429, 29323, 29442, 29670, 29675, 29760, 29772, 30303, 30573, 30611, 30616, 31524, 31578, 31751, 32255, 32269, 32864, 33948, 33980, 34269, 34914, 35329, 35856, 37079, 37171, 37429, 37733, 40494, 60863, 61588, 61610, 61940, 62019, 62132, 63026, 63484, 64022, 64134, 64676, 64736, 65229, 65455, 65722, 66046, 66124, 66483, 66616, 66617, 66866, 100338, 105441, 106486, 106977, 107447, 107637, 108191, 108294, 108319, 108365, 108847, 110040, 110519, 110588, 113224, 114057, 114368, 115081, 116614, 117002, 119576, 119696, 120113, 122170, 122200, 122376, 123805, 124354, 126036, 126455, 126797, 127077, 127314, 127475, 129441, 130298, 132738, 134504, 134867, 136827, 137132, 137530, 137579, 137608, 140069, 140568, 140758, 141006, 141196, 141242, 141680, 141887, 142023, 142024, 142171, 142337, 142541, 142818, 142852, 143217, 144030, 144123, 144181, 144564, 144755, 145206, 145287, 145327, 145817, 145882, 145935, 146072, 146176, 146435, 146737, 146739, 147308, 147352, 147412, 147459, 147891, 147901, 148008, 148409, 148529, 148651, 148749, 149577, 149820, 149997, 150218, 150399, 150439, 150440, 150458, 150459, 150580, 150639, 150761, 150801, 150838, 151286, 152250, 154113, 154274, 154739, 155299, 155913, 156093, 156737, 157234, 162346, 162905, 163951, 164538, 165991, 166232, 170430, 170491, 170855, 170945, 171054, 171212, 174322, 174352, 174365, 175531, 176079, 176756, 176840, 177602, 177838, 178384, 178513, 179216, 179229, 179253, 180267, 180584, 181102, 181904, 182554, 182915, 182934, 184165, 184185, 184275, 184511, 184867, 185068, 185423, 185519, 185954, 186180, 186250, 186371, 186568, 186677, 186734, 186778, 186887, 186893, 187070, 187100, 187112, 187122, 187135, 187449, 187589, 187956, 189562, 190579, 193056, 195056]

In [332]:
#combine list of companies to drop
print(len(list(set(total_asset_zero.index.tolist() + current_asset_zero.index.tolist() + current_liabilities_zero.index.tolist()))))
to_drop = list(set(total_asset_zero.index.tolist() + current_asset_zero.index.tolist() + current_liabilities_zero.index.tolist()))
to_drop

1012

[194560,
 8192,
 145409,
 147459,
 186371,
 186370,
 18438,
 176137,
 174091,
 106509,
 143378,
 6170,
 63516,
 153630,
 10278,
 180267,
 147505,
 176183,
 114747,
 18492,
 2109,
 20539,
 28736,
 20547,
 180296,
 149577,
 135244,
 4173,
 141390,
 28759,
 24665,
 32864,
 178273,
 34914,
 24672,
 36965,
 18534,
 165991,
 180327,
 127077,
 143467,
 145515,
 190573,
 16494,
 163951,
 6259,
 184436,
 36979,
 190579,
 16505,
 182395,
 14460,
 106621,
 61564,
 178303,
 182404,
 178308,
 26761,
 16524,
 178317,
 114830,
 26767,
 12432,
 145553,
 32909,
 61588,
 16535,
 10392,
 24730,
 141467,
 178337,
 24741,
 65703,
 116903,
 186537,
 145578,
 61610,
 12464,
 186545,
 12466,
 20658,
 16564,
 65722,
 106687,
 184511,
 176327,
 18632,
 30921,
 186568,
 186571,
 22727,
 182479,
 178384,
 65743,
 61650,
 14547,
 180436,
 2258,
 137430,
 37079,
 145622,
 14552,
 20694,
 14556,
 24797,
 143582,
 20701,
 176352,
 178401,
 184548,
 22759,
 14568,
 61673,
 10474,
 135401,
 10476,
 135409,
 174322,
 33011,
 192755,
 4341,
 155894,
 22773,
 6385,
 155898,
 18685,
 24830,
 185261,
 8445,
 155913,
 117002,
 143625,
 16655,
 174352,
 65810,
 151828,
 184597,
 186647,
 31001,
 182554,
 176412,
 12573,
 186654,
 174365,
 24865,
 186658,
 117027,
 117029,
 137511,
 20776,
 137512,
 18734,
 108847,
 121136,
 164146,
 12595,
 178482,
 37171,
 186677,
 24887,
 137530,
 149820,
 65856,
 6467,
 10564,
 22854,
 141642,
 16719,
 33103,
 178513,
 127314,
 182609,
 166232,
 33113,
 24923,
 119133,
 22882,
 131426,
 2402,
 12645,
 135527,
 180584,
 16745,
 145771,
 137579,
 184686,
 186734,
 121200,
 141680,
 170356,
 18805,
 176503,
 6522,
 18813,
 10626,
 63875,
 29063,
 27016,
 115081,
 63882,
 137608,
 153993,
 129423,
 31120,
 174483,
 186774,
 31127,
 170391,
 145817,
 186778,
 31131,
 16797,
 33183,
 129441,
 8611,
 27045,
 170409,
 176554,
 141740,
 111022,
 119215,
 35247,
 31154,
 22963,
 147891,
 158133,
 147901,
 170430,
 156093,
 4544,
 61888,
 125376,
 20934,
 12746,
 160205,
 27089,
 186837,
 160214,
 180695,
 184789,
 145882,
 12763,
 18909,
 178655,
 106977,
 121318,
 111079,
 149997,
 186861,
 106990,
 149998,
 195056,
 141810,
 127475,
 61940,
 127477,
 127479,
 29177,
 145913,
 170491,
 66046,
 31232,
 25089,
 37378,
 27139,
 111104,
 18949,
 152070,
 12807,
 14855,
 154113,
 186887,
 186893,
 145935,
 186896,
 66048,
 12818,
 143892,
 64022,
 31258,
 6683,
 193056,
 184867,
 10791,
 21032,
 148008,
 162346,
 150057,
 166447,
 170543,
 176691,
 37429,
 23094,
 12860,
 23100,
 148031,
 141887,
 178754,
 62019,
 176706,
 145991,
 113224,
 170567,
 160331,
 66124,
 35405,
 64077,
 27215,
 6741,
 66136,
 12890,
 66139,
 176733,
 170592,
 29281,
 8803,
 170598,
 25191,
 14957,
 170605,
 115313,
 182897,
 12916,
 176756,
 178808,
 66171,
 37501,
 66175,
 182915,
 109188,
 193157,
 64134,
 14983,
 66183,
 193159,
 29323,
 31372,
 193165,
 187025,
 21139,
 182934,
 127640,
 146072,
 127642,
 35483,
 115356,
 137884,
 144030,
 154274,
 180899,
 62116,
 62118,
 127655,
 31401,
 127659,
 21163,
 119473,
 19122,
 62132,
 182967,
 166586,
 150203,
 12988,
 107197,
 152250,
 178874,
 164538,
 187070,
 176834,
 166595,
 12996,
 21189,
 66244,
 142023,
 182984,
 142024,
 150218,
 178891,
 176840,
 66253,
 37592,
 121560,
 146138,
 146136,
 15068,
 187100,
 23262,
 19173,
 62181,
 187110,
 187112,
 164581,
 23275,
 185068,
 144110,
 187122,
 4853,
 144117,
 152309,
 23288,
 180984,
 144123,
 187135,
 146176,
 62209,
 62210,
 29442,
 187142,
 105222,
 178951,
 170763,
 187149,
 4878,
 31503,
 62222,
 35605,
 176917,
 119576,
 15129,
 146201,
 35611,
 146204,
 142108,
 187166,
 21283,
 31524,
 31525,
 140069,
 119594,
 115499,
 150319,
 170801,
 13106,
 144181,
 17213,
 121661,
 183104,
 123714,
 62276,
 17224,
 21320,
 15178,
 142155,
 23369,
 113486,
 170833,
 13141,
 170839,
 31578,
 142171,
 62304,
 21345,
 125794,
 127843,
 13155,
 105317,
 37733,
 170855,
 23403,
 31595,
 105325,
 152430,
 179055,
 181102,
 183155,
 19317,
 7034,
 150399,
 19329,
 13188,
 17284,
 17286,
 62343,
 115592,
 115588,
 17291,
 138124,
 148368,
 119696,
 144275,
 123796,
 15253,
 37780,
 123799,
 123805,
 123806,
 39839,
 150439,
 150440,
 17325,
 17326,
 111535,
 142254,
 189359,
 19378,
 19379,
 66483,
 17333,
 187318,
 5045,
 21432,
 148409,
 107447,
 150459,
 15292,
 150458,
 27582,
 62401,
 23490,
 150465,
 142276,
 150467,
 170945,
 179141,
 170947,
 27594,
 62412,
 148429,
 109519,
 66515,
 187348,
 144343,
 187352,
 9177,
 107481,
 185312,
 105441,
 64483,
 144356,
 177124,
 187366,
 29670,
 29675,
 170988,
 62446,
 179182,
 170995,
 35830,
 183287,
 150520,
 9208,
 142337,
 25603,
 146435,
 179204,
 160775,
 31751,
 23561,
 144398,
 35856,
 187409,
 179216,
 128019,
 107543,
 179229,
 13344,
 144416,
 183328,
 183332,
 62500,
 177190,
 66596,
 17449,
 171054,
 185392,
 31793,
 15410,
 148529,
 21556,
 179253,
 150580,
 126007,
 29752,
 185401,
 66616,
 66617,
 1084,
 187449,
 29760,
 156737,
 171074,
 27714,
 33858,
 146500,
 13382,
 19527,
 21576,
 23623,
 109640,
 7243,
 29772,
 126029,
 185423,
 13392,
 187473,
 5202,
 117843,
 17491,
 199765,
 126036,
 146520,
 162905,
 15453,
 126046,
 5215,
 64605,
 64608,
 171106,
 128099,
 177254,
 187496,
 119913,
 117867,
 7277,
 150639,
 9330,
 146546,
 152692,
 107637,
 154739,
 29816,
 5242,
 189563,
 189562,
 13437,
 175230,
 17537,
 15489,
 15492,
 146567,
 27795,
 113812,
 160917,
 156822,
 33948,
 171165,
 13471,
 62626,
 17572,
 64676,
 19622,
 38057,
 107689,
 148651,
 185519,
 25776,
 64689,
 9393,
 144564,
 33980,
 183488,
 187587,
 181445,
 187589,
 62663,
 171212,
 142541,
 25808,
 171220,
 183512,
 64736,
 13537,
 9443,
 142566,
 64744,
 150761,
 140522,
 187627,
 62703,
 17651,
 1272,
 161016,
 130298,
 130299,
 152830,
 111871,
 13569,
 27912,
 148749,
 27918,
 181520,
 27921,
 150801,
 185622,
 140568,
 107805,
 175389,
 3363,
 177450,
 120113,
 161074,
 179507,
 17716,
 17717,
 150838,
 66866,
 146737,
 116025,
 122170,
 146739,
 13631,
 187711,
 163136,
 179526,
 27975,
 19790,
 19791,
 25940,
 179543,
 122200,
 1367,
 187742,
 13664,
 161120,
 130402,
 109923,
 185701,
 5479,
 134504,
 122219,
 25969,
 34161,
 144754,
 144755,
 19825,
 187769,
 105851,
 107899,
 9603,
 9607,
 114057,
 177549,
 157076,
 183700,
 146840,
 157080,
 118182,
 175531,
 26028,
 185773,
 185774,
 36274,
 140725,
 11708,
 28093,
 60863,
 124354,
 177602,
 136647,
 185801,
 28107,
 179660,
 183755,
 36299,
 26059,
 11730,
 140758,
 17879,
 110040,
 105944,
 11739,
 34269,
 26080,
 64993,
 142818,
 19941,
 19943,
 19948,
 179694,
 15858,
 126455,
 144888,
 1530,
 17917,
 32255,
 11776,
 7683,
 17924,
 142852,
 122376,
 114187,
 17932,
 32269,
 34322,
 136724,
 181781,
 136727,
 65054,
 181790,
 24097,
 185891,
 179750,
 181800,
 22057,
 40494,
 114225,
 63026,
 157234,
 63028,
 187956,
 9785,
 13882,
 179771,
 11836,
 17985,
 179778,
 181837,
 124494,
 24147,
 65107,
 13909,
 20054,
 165463,
 35329,
 26201,
 63061,
 32347,
 13916,
 165468,
 185950,
 30303,
 185954,
 116324,
 22120,
 26218,
 18027,
 114283,
 11885,
 106093,
 181870,
 198255,
 145003,
 181869,
 34420,
 22139,
 136827,
 185979,
 28283,
 61056,
 11905,
 145026,
 63106,
 132738,
 11916,
 13966,
 22159,
 181904,
 1681,
 37376,
 108191,
 196258,
 155299,
 143012,
 145060,
 165540,
 16039,
 22181,
 1705,
 65194,
 18091,
 177838,
 1718,
 16054,
 22198,
 14009,
 114368,
 14017,
 16066,
 22220,
 65229,
 114380,
 141005,
 141006,
 110289,
 143053,
 134867,
 141023,
 61158,
 184044,
 151279,
 147183,
 186097,
 30450,
 175860,
 151286,
 20216,
 128762,
 186110,
 12031,
 177920,
 18175,
 16130,
 28421,
 108294,
 182023,
 9993,
 14090,
 28429,
 186126,
 165648,
 28432,
 106265,
 108319,
 16160,
 61218,
 10019,
 18213,
 180007,
 26411,
 24368,
 177969,
 186162,
 180021,
 145206,
 145207,
 186166,
 65344,
 28484,
 186180,
 12109,
 126797,
 108365,
 186192,
 36688,
 108370,
 5971,
 61271,
 165719,
 124761,
 184155,
 32608,
 175969,
 12132,
 184165,
 12134,
 24424,
 147308,
 8045,
 26478,
 30573,
 149360,
 143217,
 18295,
 184185,
 139130,
 186235,
 36732,
 30592,
 22401,
 182145,
 186240,
 106371,
 116614,
 145287,
 147336,
 186250,
 141196,
 118673,
 30611,
 18325,
 18326,
 110486,
 30616,
 178073,
 139161,
 147352,
 178080,
 145313,
 186272,
 6051,
 141218,
 65447,
 182185,
 63484,
 184237,
 137132,
 65455,
 145327,
 30641,
 186289,
 266163,
 14255,
 28597,
 137141,
 110519,
 143285,
 133049,
 141242,
 106429,
 188355,
 188357,
 36808,
 180169,
 14286,
 176079,
 26579,
 147411,
 184275,
 4051,
 147412,
 ...]

In [333]:
#drop companies with <= 0
new_df = new_df[~new_df['gvkey'].isin(to_drop)]
new_df

,gvkey,cik,tic,datadate,sic,atq,rectq,wcapq,actq,lctq,...,niq,prccq,xoprq,dpq,oibdpq,xintq,nopiq,dvpspq,epsfxq,nan_count
0,1004,1750.0,AIR,2000-02-29,5080,753.755,169.511,350.202,526.935,176.733,...,10.955,23.750,247.076,4.585,25.255,5.979,0.959,0.085,0.40,0
1,1004,1750.0,AIR,2000-05-31,5080,740.998,128.348,347.451,511.267,163.816,...,2.471,13.875,212.079,4.778,13.000,5.682,0.370,0.085,0.09,0
2,1004,1750.0,AIR,2000-08-31,5080,747.543,126.206,341.996,510.278,168.282,...,3.159,11.250,227.205,4.694,14.565,5.988,0.506,0.085,0.12,0
3,1004,1750.0,AIR,2000-11-30,5080,772.941,127.565,325.382,514.749,189.367,...,4.278,10.375,195.361,4.516,15.974,5.718,0.245,0.085,0.16,0
4,1004,1750.0,AIR,2001-02-28,5080,754.718,132.826,358.685,526.537,167.852,...,5.388,13.600,182.824,4.788,17.247,5.433,0.450,0.085,0.20,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839649,353945,1948862.0,ACLLY,2021-12-31,3621,686.085,205.966,110.740,436.863,326.123,...,138.508,NaN,549.973,23.511,206.493,1.379,2.599,NaN,1.48,2
839650,353945,1948862.0,ACLLY,2022-03-31,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22
839651,353945,1948862.0,ACLLY,2022-06-30,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22
839652,353945,1948862.0,ACLLY,2022-09-30,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22
839653,353945,1948862.0,ACLLY,2022-12-31,3621,981.551,230.889,328.508,614.904,286.396,...,122.801,20.693,605.658,22.745,174.880,0.555,4.903,0.000,1.31,0

In [334]:
#count of number of rows and unique companies after dropping
print(new_df.shape[0])
print(new_df.gvkey.nunique())

774298
19738

In [335]:
#define function to get average between current and past quarter 
def get_average(row):
    row['average_asset'] = (row['atq'] + row['atq'].shift(1)) / 2
    row['average_inventory'] = (row['invtq'] + row['invtq'].shift(1)) / 2
    row['average_receivables'] = (row['rectq'] + row['rectq'].shift(1)) / 2
    row['average_workingcapital'] = (row['wcapq'] + row['wcapq'].shift(1)) / 2
    return row

In [336]:
#calculate average total assets, inventory, receivables and working capital
new_df = new_df.groupby(['gvkey']).apply(get_average)
new_df

                gvkey        cik    tic   datadate   sic      atq    rectq  \
gvkey
1004   0         1004     1750.0    AIR 2000-02-29  5080  753.755  169.511
       1         1004     1750.0    AIR 2000-05-31  5080  740.998  128.348
       2         1004     1750.0    AIR 2000-08-31  5080  747.543  126.206
       3         1004     1750.0    AIR 2000-11-30  5080  772.941  127.565
       4         1004     1750.0    AIR 2001-02-28  5080  754.718  132.826
...               ...        ...    ...        ...   ...      ...      ...
353945 839649  353945  1948862.0  ACLLY 2021-12-31  3621  686.085  205.966
       839650  353945  1948862.0  ACLLY 2022-03-31  3621      NaN      NaN
       839651  353945  1948862.0  ACLLY 2022-06-30  3621      NaN      NaN
       839652  353945  1948862.0  ACLLY 2022-09-30  3621      NaN      NaN
       839653  353945  1948862.0  ACLLY 2022-12-31  3621  981.551  230.889

                 wcapq     actq     lctq  ...   oibdpq  xintq  nopiq  dvpspq  \
gvkey                                     ...
1004   0       350.202  526.935  176.733  ...   25.255  5.979  0.959   0.085
       1       347.451  511.267  163.816  ...   13.000  5.682  0.370   0.085
       2       341.996  510.278  168.282  ...   14.565  5.988  0.506   0.085
       3       325.382  514.749  189.367  ...   15.974  5.718  0.245   0.085
       4       358.685  526.537  167.852  ...   17.247  5.433  0.450   0.085
...                ...      ...      ...  ...      ...    ...    ...     ...
353945 839649  110.740  436.863  326.123  ...  206.493  1.379  2.599     NaN
       839650      NaN      NaN      NaN  ...      NaN    NaN    NaN     NaN
       839651      NaN      NaN      NaN  ...      NaN    NaN    NaN     NaN
       839652      NaN      NaN      NaN  ...      NaN    NaN    NaN     NaN
       839653  328.508  614.904  286.396  ...  174.880  0.555  4.903   0.000

               epsfxq  nan_count  average_asset  average_inventory  \
gvkey
1004   0         0.40          0            NaN                NaN
       1         0.09          0       747.3765           327.4755
       2         0.12          0       744.2705           339.9165
       3         0.16          0       760.2420           344.2965
       4         0.20          0       763.8295           349.6285
...               ...        ...            ...                ...
353945 839649    1.48          2            NaN                NaN
       839650     NaN         22            NaN                NaN
       839651     NaN         22            NaN                NaN
       839652     NaN         22            NaN                NaN
       839653    1.31          0            NaN                NaN

               average_receivables  average_workingcapital
gvkey
1004   0                       NaN                     NaN
       1                  148.9295                348.8265
       2                  127.2770                344.7235
       3                  126.8855                333.6890
       4                  130.1955                342.0335
...                            ...                     ...
353945 839649                  NaN                     NaN
       839650                  NaN                     NaN
       839651                  NaN                     NaN
       839652                  NaN                     NaN
       839653                  NaN                     NaN

[774298 rows x 32 columns]

In [337]:
new_df.reset_index(drop=True, inplace=True)

In [338]:
new_df

,gvkey,cik,tic,datadate,sic,atq,rectq,wcapq,actq,lctq,...,oibdpq,xintq,nopiq,dvpspq,epsfxq,nan_count,average_asset,average_inventory,average_receivables,average_workingcapital
0,1004,1750.0,AIR,2000-02-29,5080,753.755,169.511,350.202,526.935,176.733,...,25.255,5.979,0.959,0.085,0.40,0,NaN,NaN,NaN,NaN
1,1004,1750.0,AIR,2000-05-31,5080,740.998,128.348,347.451,511.267,163.816,...,13.000,5.682,0.370,0.085,0.09,0,747.3765,327.4755,148.9295,348.8265
2,1004,1750.0,AIR,2000-08-31,5080,747.543,126.206,341.996,510.278,168.282,...,14.565,5.988,0.506,0.085,0.12,0,744.2705,339.9165,127.2770,344.7235
3,1004,1750.0,AIR,2000-11-30,5080,772.941,127.565,325.382,514.749,189.367,...,15.974,5.718,0.245,0.085,0.16,0,760.2420,344.2965,126.8855,333.6890
4,1004,1750.0,AIR,2001-02-28,5080,754.718,132.826,358.685,526.537,167.852,...,17.247,5.433,0.450,0.085,0.20,0,763.8295,349.6285,130.1955,342.0335
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
774293,353945,1948862.0,ACLLY,2021-12-31,3621,686.085,205.966,110.740,436.863,326.123,...,206.493,1.379,2.599,NaN,1.48,2,NaN,NaN,NaN,NaN
774294,353945,1948862.0,ACLLY,2022-03-31,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,22,NaN,NaN,NaN,NaN
774295,353945,1948862.0,ACLLY,2022-06-30,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,22,NaN,NaN,NaN,NaN
774296,353945,1948862.0,ACLLY,2022-09-30,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,22,NaN,NaN,NaN,NaN
774297,353945,1948862.0,ACLLY,2022-12-31,3621,981.551,230.889,328.508,614.904,286.396,...,174.880,0.555,4.903,0.000,1.31,0,NaN,NaN,NaN,NaN

In [339]:
#feature engineering of financial ratios

#create `current_ratio`
new_df['current_ratio'] = new_df['actq']/new_df['lctq']

#create `quick_ratio`
new_df['quick_ratio'] = (new_df['actq'] - new_df['invtq'])/new_df['lctq']

#create `cash_ratio`
new_df['cash_ratio'] = new_df['chechy']/new_df['lctq']

#create `net_working_capital`
new_df['net_working_capital'] = new_df['actq'] - new_df['lctq']

#create `debt_ratio`
new_df['debt_ratio'] = (new_df['dlttq'] + new_df['dlcq'])/new_df['atq']

#create `debt_to_equity_ratio`
new_df['debt_to_equity_ratio'] = (new_df['dlttq'] + new_df['dlcq'])/new_df['ceqq']

#create `equity_ratio`
new_df['equity_ratio'] = new_df['ceqq']/new_df['atq']

#create `cashflow_to_debt_ratio`
#debt is long-term + short-term debt
new_df['cashflow_to_debt_ratio'] = new_df['oancfy']/(new_df['dlttq'] + new_df['dlcq'])

#create `net_profit_margin`
#use niq as net profit
new_df['net_profit_margin'] = (new_df['niq']/new_df['revtq']) * 100

#create `return_on_assets`
new_df['return_on_assets'] = (new_df['niq']/new_df['atq']) * 100

#create `asset_turnover`
new_df['asset_turnover'] = new_df['revtq']/new_df['average_asset']

#create `inventory_turnover`
new_df['inventory_turnover'] = new_df['cogsq']/new_df['average_inventory']

#create `days_in_inventory`
new_df['days_in_inventory'] = 365/(new_df['cogsq']/new_df['average_inventory'])

#create `receivables_turnover`
new_df['receivables_turnover'] = new_df['revtq']/new_df['average_receivables']

#create `day_sales_outstanding`
new_df['day_sales_outstanding'] = 365/(new_df['revtq']/new_df['average_receivables'])

#create `working_capital_turnover`
new_df['working_capital_turnover'] = new_df['revtq']/new_df['average_workingcapital']

#create `price_to_earnings`
new_df['price_to_earnings'] = new_df['prccq']/new_df['epsfxq']

#create `retention_ratio`
new_df['retention_ratio'] = 1 - (new_df['dvpspq']/new_df['epsfxq'])

#create `gross_margin_ratio`
new_df['gross_margin_ratio'] = ((new_df['revtq'] - new_df['cogsq'])/new_df['revtq']) * 100

#create `operating_profit_margin`
new_df['operating_profit_margin'] = ((new_df['revtq'] - new_df['cogsq'] - new_df['xoprq'])/new_df['revtq']) * 100

#create `ebitda_margin` 
new_df['ebitda_margin'] = ((new_df['revtq'] - new_df['cogsq'] - new_df['xoprq'] + new_df['dpq'])/new_df['revtq']) * 100

#create `debt_service_coverage_ratio`
new_df['debt_service_coverage_ratio'] = (new_df['revtq'] - new_df['cogsq'] - new_df['xoprq'])/(new_df['dlttq'] + new_df['dlcq'])

#create `interest_coverage_ratio`
new_df['interest_coverage_ratio'] = new_df['oibdpq']/new_df['xintq']

#create `dividend_payout_ratio`
new_df['dividend_payout_ratio'] = (new_df['dvpspq']/new_df['epsfxq'])

In [340]:
new_df.columns

Index(['gvkey', 'cik', 'tic', 'datadate', 'sic', 'atq', 'rectq', 'wcapq',
       'actq', 'lctq', 'invtq', 'chechy', 'dlttq', 'dlcq', 'ceqq', 'oancfy',
       'revtq', 'cogsq', 'niq', 'prccq', 'xoprq', 'dpq', 'oibdpq', 'xintq',
       'nopiq', 'dvpspq', 'epsfxq', 'nan_count', 'average_asset',
       'average_inventory', 'average_receivables', 'average_workingcapital',
       'current_ratio', 'quick_ratio', 'cash_ratio', 'net_working_capital',
       'debt_ratio', 'debt_to_equity_ratio', 'equity_ratio',
       'cashflow_to_debt_ratio', 'net_profit_margin', 'return_on_assets',
       'asset_turnover', 'inventory_turnover', 'days_in_inventory',
       'receivables_turnover', 'day_sales_outstanding',
       'working_capital_turnover', 'price_to_earnings', 'retention_ratio',
       'gross_margin_ratio', 'operating_profit_margin', 'ebitda_margin',
       'debt_service_coverage_ratio', 'interest_coverage_ratio',
       'dividend_payout_ratio'],
      dtype='object')

In [341]:
new_df

,gvkey,cik,tic,datadate,sic,atq,rectq,wcapq,actq,lctq,...,day_sales_outstanding,working_capital_turnover,price_to_earnings,retention_ratio,gross_margin_ratio,operating_profit_margin,ebitda_margin,debt_service_coverage_ratio,interest_coverage_ratio,dividend_payout_ratio
0,1004,1750.0,AIR,2000-02-29,5080,753.755,169.511,350.202,526.935,176.733,...,NaN,NaN,59.375000,0.787500,18.234795,-72.491564,-70.807951,-0.958372,4.223950,0.212500
1,1004,1750.0,AIR,2000-05-31,5080,740.998,128.348,347.451,511.267,163.816,...,241.511947,0.645246,154.166667,0.055556,18.944015,-75.280235,-73.157425,-0.819497,2.287927,0.944444
2,1004,1750.0,AIR,2000-08-31,5080,747.543,126.206,341.996,510.278,168.282,...,192.149998,0.701345,93.750000,0.291667,16.176118,-77.799562,-75.858047,-0.823112,2.432365,0.708333
3,1004,1750.0,AIR,2000-11-30,5080,772.941,127.565,325.382,514.749,189.367,...,219.145941,0.633329,64.843750,0.468750,18.857738,-73.583647,-71.446755,-0.674333,2.793634,0.531250
4,1004,1750.0,AIR,2001-02-28,5080,754.718,132.826,358.685,526.537,167.852,...,237.522467,0.584946,68.000000,0.575000,20.259808,-71.119752,-68.726602,-0.619269,3.174489,0.425000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
774293,353945,1948862.0,ACLLY,2021-12-31,3621,686.085,205.966,110.740,436.863,326.123,...,NaN,NaN,NaN,NaN,50.122808,-22.580129,-19.472124,-1.386667,149.741117,NaN
774294,353945,1948862.0,ACLLY,2022-03-31,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
774295,353945,1948862.0,ACLLY,2022-06-30,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
774296,353945,1948862.0,ACLLY,2022-09-30,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
774297,353945,1948862.0,ACLLY,2022-12-31,3621,981.551,230.889,328.508,614.904,286.396,...,NaN,NaN,15.796183,1.000000,48.116684,-29.478257,-26.564242,-0.655717,315.099099,0.000000

In [342]:
new_df.describe()

/usr/local/lib/python3.9/site-packages/pandas/core/nanops.py:1010: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/usr/local/lib/python3.9/site-packages/numpy/core/_methods.py:49: RuntimeWarning: invalid value encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/usr/local/lib/python3.9/site-packages/numpy/core/_methods.py:49: RuntimeWarning: invalid value encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/usr/local/lib/python3.9/site-packages/numpy/core/_methods.py:49: RuntimeWarning: invalid value encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/usr/local/lib/python3.9/site-packages/numpy/lib/function_base.py:4655: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/usr/local/lib/python3.9/site-packages/pandas/core/nanops.py:1010: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/usr/local/lib/python3.9/site-packages/numpy/core/_methods.py:49: RuntimeWarning: invalid value encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/usr/local/lib/python3.9/site-packages/pandas/core/nanops.py:1010: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/usr/local/lib/python3.9/site-packages/pandas/core/nanops.py:1010: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/usr/local/lib/python3.9/site-packages/pandas/core/nanops.py:1010: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/usr/local/lib/python3.9/site-packages/pandas/core/nanops.py:1010: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/usr/local/lib/python3.9/site-packages/numpy/core/_methods.py:49: RuntimeWarning: invalid value encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/usr/local/lib/python3.9/site-packages/numpy/core/_methods.py:49: RuntimeWarning: invalid value encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/usr/local/lib/python3.9/site-packages/numpy/core/_methods.py:49: RuntimeWarning: invalid value encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/usr/local/lib/python3.9/site-packages/numpy/core/_methods.py:49: RuntimeWarning: invalid value encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/usr/local/lib/python3.9/site-packages/numpy/core/_methods.py:49: RuntimeWarning: invalid value encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/usr/local/lib/python3.9/site-packages/pandas/core/nanops.py:1010: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

,gvkey,cik,datadate,sic,atq,rectq,wcapq,actq,lctq,invtq,...,day_sales_outstanding,working_capital_turnover,price_to_earnings,retention_ratio,gross_margin_ratio,operating_profit_margin,ebitda_margin,debt_service_coverage_ratio,interest_coverage_ratio,dividend_payout_ratio
count,774298.000000,7.742980e+05,774298,774298.000000,6.960750e+05,6.789340e+05,566041.000000,567036.000000,568005.000000,678536.000000,...,5.619160e+05,5.323330e+05,6.420190e+05,6.159860e+05,5.988310e+05,6.472380e+05,5.889830e+05,5.874240e+05,5.163770e+05,6.159860e+05
mean,75271.120992,1.020609e+06,2011-02-16 11:55:33.200395264,4759.157921,1.215890e+04,3.918698e+03,299.591471,1323.769139,1016.253399,582.372801,...,inf,inf,inf,-inf,NaN,NaN,NaN,NaN,NaN,inf
min,1004.000000,2.000000e+01,2000-01-31 00:00:00,100.000000,1.000000e-03,-1.551000e+00,-56429.000000,0.001000,0.001000,0.000000,...,-3.839928e+07,-6.267500e+04,-6.666667e+04,-inf,-inf,-inf,-inf,-inf,-inf,-1.354520e+03
25%,16981.000000,8.324280e+05,2004-12-31 00:00:00,2870.000000,5.444100e+01,3.220000e+00,0.455000,16.380000,7.127000,0.000000,...,1.418725e+02,0.000000e+00,-1.200000e+01,8.635095e-01,1.765964e+01,-9.727815e+01,-9.226409e+01,-5.345831e+00,-3.557312e+00,0.000000e+00
50%,36980.000000,1.047175e+06,2010-09-30 00:00:00,4899.000000,4.145860e+02,4.032400e+01,27.610000,107.687500,47.582000,3.242500,...,2.282081e+02,4.945017e-01,3.698630e+01,1.000000e+00,3.409091e+01,-6.135472e+01,-5.598319e+01,-6.509163e-01,3.589187e+00,0.000000e+00
75%,141038.000000,1.365767e+06,2016-12-31 00:00:00,6411.000000,2.365000e+03,3.032018e+02,172.585000,523.097500,305.683000,64.129250,...,3.617220e+02,1.477971e+00,8.790000e+01,1.000000e+00,5.472100e+01,-3.154630e+01,-2.344264e+01,-1.395536e-01,1.294780e+01,1.364905e-01
max,353945.000000,1.982458e+06,2023-08-31 00:00:00,9998.000000,4.323710e+06,4.134037e+06,123889.000000,259178.787000,329795.000000,620828.882000,...,inf,inf,inf,1.355520e+03,inf,inf,inf,inf,inf,inf
std,69733.183123,4.683952e+05,NaN,2118.278187,1.015467e+05,5.154243e+04,2149.794217,6383.912731,5392.978324,8691.095894,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [343]:
#count number of inf and - inf
import numpy as np
# inf_count = new_df.isin([np.inf, -np.inf]).sum()
# inf_count.sort_values(ascending=False)
inf_count = new_df.isin([np.inf, -np.inf]).mean() * 100
inf_count.sort_values(ascending=False)

inventory_turnover             21.986496
debt_service_coverage_ratio    13.495063
cashflow_to_debt_ratio         13.299014
interest_coverage_ratio         9.914012
net_profit_margin               7.971350
operating_profit_margin         7.885594
ebitda_margin                   7.539087
price_to_earnings               4.673782
day_sales_outstanding           4.555610
gross_margin_ratio              1.454995
receivables_turnover            1.116624
days_in_inventory               0.461063
dividend_payout_ratio           0.153946
retention_ratio                 0.153946
debt_to_equity_ratio            0.009815
working_capital_turnover        0.007103
cash_ratio                      0.000000
average_receivables             0.000000
average_workingcapital          0.000000
current_ratio                   0.000000
quick_ratio                     0.000000
asset_turnover                  0.000000
net_working_capital             0.000000
debt_ratio                      0.000000
equity_ratio                    0.000000
return_on_assets                0.000000
cik                             0.000000
average_inventory               0.000000
gvkey                           0.000000
nan_count                       0.000000
dlcq                            0.000000
tic                             0.000000
datadate                        0.000000
sic                             0.000000
atq                             0.000000
rectq                           0.000000
wcapq                           0.000000
actq                            0.000000
lctq                            0.000000
invtq                           0.000000
chechy                          0.000000
dlttq                           0.000000
ceqq                            0.000000
epsfxq                          0.000000
oancfy                          0.000000
revtq                           0.000000
cogsq                           0.000000
niq                             0.000000
prccq                           0.000000
xoprq                           0.000000
dpq                             0.000000
oibdpq                          0.000000
xintq                           0.000000
nopiq                           0.000000
dvpspq                          0.000000
average_asset                   0.000000
dtype: float64

In [345]:
na_count = new_df.isna().mean() * 100
na_count.sort_values(ascending=False)

interest_coverage_ratio        33.310302
working_capital_turnover       31.249596
average_workingcapital         31.014157
cash_ratio                     28.359366
quick_ratio                    28.202837
receivables_turnover           27.428974
day_sales_outstanding          27.428974
xintq                          26.918835
wcapq                          26.896234
current_ratio                  26.828947
net_working_capital            26.828947
actq                           26.767730
lctq                           26.642585
debt_service_coverage_ratio    24.134636
ebitda_margin                  23.933292
days_in_inventory              23.724458
inventory_turnover             23.724458
asset_turnover                 22.958861
gross_margin_ratio             22.661430
dividend_payout_ratio          20.445875
retention_ratio                20.445875
cashflow_to_debt_ratio         19.304066
average_inventory              17.489778
average_receivables            17.443801
price_to_earnings              17.083733
dpq                            17.061002
operating_profit_margin        16.409703
debt_to_equity_ratio           15.825302
net_profit_margin              15.691762
oibdpq                         15.686467
debt_ratio                     15.486802
revtq                          15.397818
dlcq                           15.274352
average_asset                  14.888712
chechy                         14.306120
oancfy                         14.279644
prccq                          13.155271
invtq                          12.367590
rectq                          12.316188
epsfxq                         10.914532
dlttq                          10.891026
equity_ratio                   10.554334
return_on_assets               10.537028
ceqq                           10.532508
atq                            10.102441
dvpspq                          8.962699
nopiq                           8.779565
xoprq                           8.268393
cogsq                           7.911295
niq                             7.225384
tic                             0.000000
datadate                        0.000000
cik                             0.000000
sic                             0.000000
nan_count                       0.000000
gvkey                           0.000000
dtype: float64

In [346]:
new_df.columns

Index(['gvkey', 'cik', 'tic', 'datadate', 'sic', 'atq', 'rectq', 'wcapq',
       'actq', 'lctq', 'invtq', 'chechy', 'dlttq', 'dlcq', 'ceqq', 'oancfy',
       'revtq', 'cogsq', 'niq', 'prccq', 'xoprq', 'dpq', 'oibdpq', 'xintq',
       'nopiq', 'dvpspq', 'epsfxq', 'nan_count', 'average_asset',
       'average_inventory', 'average_receivables', 'average_workingcapital',
       'current_ratio', 'quick_ratio', 'cash_ratio', 'net_working_capital',
       'debt_ratio', 'debt_to_equity_ratio', 'equity_ratio',
       'cashflow_to_debt_ratio', 'net_profit_margin', 'return_on_assets',
       'asset_turnover', 'inventory_turnover', 'days_in_inventory',
       'receivables_turnover', 'day_sales_outstanding',
       'working_capital_turnover', 'price_to_earnings', 'retention_ratio',
       'gross_margin_ratio', 'operating_profit_margin', 'ebitda_margin',
       'debt_service_coverage_ratio', 'interest_coverage_ratio',
       'dividend_payout_ratio'],
      dtype='object')

In [347]:
#drop fundamentals
#drop financial fundamentals
fundamentals = ['atq', 'rectq', 'wcapq',
       'actq', 'lctq', 'invtq', 'chechy', 'dlttq', 'dlcq', 'ceqq', 'oancfy',
       'revtq', 'cogsq', 'niq', 'prccq', 'xoprq', 'dpq', 'oibdpq', 'xintq',
       'nopiq', 'dvpspq', 'epsfxq', 'nan_count', 'average_asset',
       'average_inventory', 'average_receivables', 'average_workingcapital']
new_df = new_df.drop(columns=fundamentals)
new_df

,gvkey,cik,tic,datadate,sic,current_ratio,quick_ratio,cash_ratio,net_working_capital,debt_ratio,...,day_sales_outstanding,working_capital_turnover,price_to_earnings,retention_ratio,gross_margin_ratio,operating_profit_margin,ebitda_margin,debt_service_coverage_ratio,interest_coverage_ratio,dividend_payout_ratio
0,1004,1750.0,AIR,2000-02-29,5080,2.981531,1.176928,-0.021609,350.202,0.273288,...,NaN,NaN,59.375000,0.787500,18.234795,-72.491564,-70.807951,-0.958372,4.223950,0.212500
1,1004,1750.0,AIR,2000-05-31,5080,3.120983,1.069792,-0.042786,347.451,0.279030,...,241.511947,0.645246,154.166667,0.055556,18.944015,-75.280235,-73.157425,-0.819497,2.287927,0.944444
2,1004,1750.0,AIR,2000-08-31,5080,3.032279,0.989191,-0.003399,341.996,0.305692,...,192.149998,0.701345,93.750000,0.291667,16.176118,-77.799562,-75.858047,-0.823112,2.432365,0.708333
3,1004,1750.0,AIR,2000-11-30,5080,2.718261,0.897575,0.009653,325.382,0.298354,...,219.145941,0.633329,64.843750,0.468750,18.857738,-73.583647,-71.446755,-0.674333,2.793634,0.531250
4,1004,1750.0,AIR,2001-02-28,5080,3.136912,1.025058,-0.002824,358.685,0.304446,...,237.522467,0.584946,68.000000,0.575000,20.259808,-71.119752,-68.726602,-0.619269,3.174489,0.425000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
774293,353945,1948862.0,ACLLY,2021-12-31,3621,1.339565,0.865039,0.211009,110.740,0.179542,...,NaN,NaN,NaN,NaN,50.122808,-22.580129,-19.472124,-1.386667,149.741117,NaN
774294,353945,1948862.0,ACLLY,2022-03-31,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
774295,353945,1948862.0,ACLLY,2022-06-30,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
774296,353945,1948862.0,ACLLY,2022-09-30,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
774297,353945,1948862.0,ACLLY,2022-12-31,3621,2.147041,1.496589,0.405641,328.508,0.357492,...,NaN,NaN,15.796183,1.000000,48.116684,-29.478257,-26.564242,-0.655717,315.099099,0.000000

In [351]:
#create column for fiscal quarters
new_df['quarter'] = new_df['datadate'].dt.quarter
new_df

,gvkey,cik,tic,datadate,sic,current_ratio,quick_ratio,cash_ratio,net_working_capital,debt_ratio,...,working_capital_turnover,price_to_earnings,retention_ratio,gross_margin_ratio,operating_profit_margin,ebitda_margin,debt_service_coverage_ratio,interest_coverage_ratio,dividend_payout_ratio,quarter
0,1004,1750.0,AIR,2000-02-29,5080,2.981531,1.176928,-0.021609,350.202,0.273288,...,NaN,59.375000,0.787500,18.234795,-72.491564,-70.807951,-0.958372,4.223950,0.212500,1
1,1004,1750.0,AIR,2000-05-31,5080,3.120983,1.069792,-0.042786,347.451,0.279030,...,0.645246,154.166667,0.055556,18.944015,-75.280235,-73.157425,-0.819497,2.287927,0.944444,2
2,1004,1750.0,AIR,2000-08-31,5080,3.032279,0.989191,-0.003399,341.996,0.305692,...,0.701345,93.750000,0.291667,16.176118,-77.799562,-75.858047,-0.823112,2.432365,0.708333,3
3,1004,1750.0,AIR,2000-11-30,5080,2.718261,0.897575,0.009653,325.382,0.298354,...,0.633329,64.843750,0.468750,18.857738,-73.583647,-71.446755,-0.674333,2.793634,0.531250,4
4,1004,1750.0,AIR,2001-02-28,5080,3.136912,1.025058,-0.002824,358.685,0.304446,...,0.584946,68.000000,0.575000,20.259808,-71.119752,-68.726602,-0.619269,3.174489,0.425000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
774293,353945,1948862.0,ACLLY,2021-12-31,3621,1.339565,0.865039,0.211009,110.740,0.179542,...,NaN,NaN,NaN,50.122808,-22.580129,-19.472124,-1.386667,149.741117,NaN,4
774294,353945,1948862.0,ACLLY,2022-03-31,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
774295,353945,1948862.0,ACLLY,2022-06-30,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
774296,353945,1948862.0,ACLLY,2022-09-30,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
774297,353945,1948862.0,ACLLY,2022-12-31,3621,2.147041,1.496589,0.405641,328.508,0.357492,...,NaN,15.796183,1.000000,48.116684,-29.478257,-26.564242,-0.655717,315.099099,0.000000,4

In [353]:
#create sector_industry
new_df['sector_industry'] = new_df['sic'].astype(str).str[:2]
new_df

,gvkey,cik,tic,datadate,sic,current_ratio,quick_ratio,cash_ratio,net_working_capital,debt_ratio,...,price_to_earnings,retention_ratio,gross_margin_ratio,operating_profit_margin,ebitda_margin,debt_service_coverage_ratio,interest_coverage_ratio,dividend_payout_ratio,quarter,sector_industry
0,1004,1750.0,AIR,2000-02-29,5080,2.981531,1.176928,-0.021609,350.202,0.273288,...,59.375000,0.787500,18.234795,-72.491564,-70.807951,-0.958372,4.223950,0.212500,1,50
1,1004,1750.0,AIR,2000-05-31,5080,3.120983,1.069792,-0.042786,347.451,0.279030,...,154.166667,0.055556,18.944015,-75.280235,-73.157425,-0.819497,2.287927,0.944444,2,50
2,1004,1750.0,AIR,2000-08-31,5080,3.032279,0.989191,-0.003399,341.996,0.305692,...,93.750000,0.291667,16.176118,-77.799562,-75.858047,-0.823112,2.432365,0.708333,3,50
3,1004,1750.0,AIR,2000-11-30,5080,2.718261,0.897575,0.009653,325.382,0.298354,...,64.843750,0.468750,18.857738,-73.583647,-71.446755,-0.674333,2.793634,0.531250,4,50
4,1004,1750.0,AIR,2001-02-28,5080,3.136912,1.025058,-0.002824,358.685,0.304446,...,68.000000,0.575000,20.259808,-71.119752,-68.726602,-0.619269,3.174489,0.425000,1,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
774293,353945,1948862.0,ACLLY,2021-12-31,3621,1.339565,0.865039,0.211009,110.740,0.179542,...,NaN,NaN,50.122808,-22.580129,-19.472124,-1.386667,149.741117,NaN,4,36
774294,353945,1948862.0,ACLLY,2022-03-31,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,36
774295,353945,1948862.0,ACLLY,2022-06-30,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,36
774296,353945,1948862.0,ACLLY,2022-09-30,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,36
774297,353945,1948862.0,ACLLY,2022-12-31,3621,2.147041,1.496589,0.405641,328.508,0.357492,...,15.796183,1.000000,48.116684,-29.478257,-26.564242,-0.655717,315.099099,0.000000,4,36

In [370]:
#drop the first entry from each company as they would naturally be nan due to finding average value
new_df = new_df.groupby('gvkey').apply(lambda group: group.iloc[1:])
new_df.reset_index(drop=True, inplace=True)
new_df

,gvkey,cik,tic,datadate,sic,current_ratio,quick_ratio,cash_ratio,net_working_capital,debt_ratio,...,price_to_earnings,retention_ratio,gross_margin_ratio,operating_profit_margin,ebitda_margin,debt_service_coverage_ratio,interest_coverage_ratio,dividend_payout_ratio,quarter,sector_industry
0,1004,1750.0,AIR,2000-05-31,5080,3.120983,1.069792,-0.042786,347.451,0.279030,...,154.166667,0.055556,18.944015,-75.280235,-73.157425,-0.819497,2.287927,0.944444,2,50
1,1004,1750.0,AIR,2000-08-31,5080,3.032279,0.989191,-0.003399,341.996,0.305692,...,93.750000,0.291667,16.176118,-77.799562,-75.858047,-0.823112,2.432365,0.708333,3,50
2,1004,1750.0,AIR,2000-11-30,5080,2.718261,0.897575,0.009653,325.382,0.298354,...,64.843750,0.468750,18.857738,-73.583647,-71.446755,-0.674333,2.793634,0.531250,4,50
3,1004,1750.0,AIR,2001-02-28,5080,3.136912,1.025058,-0.002824,358.685,0.304446,...,68.000000,0.575000,20.259808,-71.119752,-68.726602,-0.619269,3.174489,0.425000,1,50
4,1004,1750.0,AIR,2001-05-31,5080,3.874697,1.317995,0.100230,360.464,0.275896,...,66.666667,0.595238,18.521886,-73.978080,-71.906875,-0.844613,3.492207,0.404762,2,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
754555,353945,1948862.0,ACLLY,2021-12-31,3621,1.339565,0.865039,0.211009,110.740,0.179542,...,NaN,NaN,50.122808,-22.580129,-19.472124,-1.386667,149.741117,NaN,4,36
754556,353945,1948862.0,ACLLY,2022-03-31,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,36
754557,353945,1948862.0,ACLLY,2022-06-30,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,36
754558,353945,1948862.0,ACLLY,2022-09-30,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,36
754559,353945,1948862.0,ACLLY,2022-12-31,3621,2.147041,1.496589,0.405641,328.508,0.357492,...,15.796183,1.000000,48.116684,-29.478257,-26.564242,-0.655717,315.099099,0.000000,4,36

In [371]:
#list of engineered features
financial_ratios = [
    'current_ratio',
    'quick_ratio',
    'cash_ratio',
    'net_working_capital',
    'debt_ratio',
    'debt_to_equity_ratio',
    'equity_ratio',
    'cashflow_to_debt_ratio',
    'net_profit_margin',
    'return_on_assets',
    'asset_turnover',
    'inventory_turnover',
    'days_in_inventory',
    'receivables_turnover',
    'day_sales_outstanding',
    'working_capital_turnover',
    'price_to_earnings',
    'retention_ratio',
    'gross_margin_ratio',
    'operating_profit_margin',
    'ebitda_margin',
    'debt_service_coverage_ratio',
    'interest_coverage_ratio',
    'dividend_payout_ratio'
]

In [372]:
imputed_df = new_df.copy()
imputed_df

,gvkey,cik,tic,datadate,sic,current_ratio,quick_ratio,cash_ratio,net_working_capital,debt_ratio,...,price_to_earnings,retention_ratio,gross_margin_ratio,operating_profit_margin,ebitda_margin,debt_service_coverage_ratio,interest_coverage_ratio,dividend_payout_ratio,quarter,sector_industry
0,1004,1750.0,AIR,2000-05-31,5080,3.120983,1.069792,-0.042786,347.451,0.279030,...,154.166667,0.055556,18.944015,-75.280235,-73.157425,-0.819497,2.287927,0.944444,2,50
1,1004,1750.0,AIR,2000-08-31,5080,3.032279,0.989191,-0.003399,341.996,0.305692,...,93.750000,0.291667,16.176118,-77.799562,-75.858047,-0.823112,2.432365,0.708333,3,50
2,1004,1750.0,AIR,2000-11-30,5080,2.718261,0.897575,0.009653,325.382,0.298354,...,64.843750,0.468750,18.857738,-73.583647,-71.446755,-0.674333,2.793634,0.531250,4,50
3,1004,1750.0,AIR,2001-02-28,5080,3.136912,1.025058,-0.002824,358.685,0.304446,...,68.000000,0.575000,20.259808,-71.119752,-68.726602,-0.619269,3.174489,0.425000,1,50
4,1004,1750.0,AIR,2001-05-31,5080,3.874697,1.317995,0.100230,360.464,0.275896,...,66.666667,0.595238,18.521886,-73.978080,-71.906875,-0.844613,3.492207,0.404762,2,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
754555,353945,1948862.0,ACLLY,2021-12-31,3621,1.339565,0.865039,0.211009,110.740,0.179542,...,NaN,NaN,50.122808,-22.580129,-19.472124,-1.386667,149.741117,NaN,4,36
754556,353945,1948862.0,ACLLY,2022-03-31,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,36
754557,353945,1948862.0,ACLLY,2022-06-30,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,36
754558,353945,1948862.0,ACLLY,2022-09-30,3621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,36
754559,353945,1948862.0,ACLLY,2022-12-31,3621,2.147041,1.496589,0.405641,328.508,0.357492,...,15.796183,1.000000,48.116684,-29.478257,-26.564242,-0.655717,315.099099,0.000000,4,36

In [375]:
import warnings

# Suppress the "Mean of empty slice" warning
warnings.filterwarnings("ignore", category=RuntimeWarning)

for col in financial_ratios:
    imputed_df[col] = imputed_df.groupby(['sector_industry', 'quarter'])[col].transform(lambda x: x.fillna(x.median()))

# Reset the DataFrame index if needed
imputed_df.reset_index(drop=True, inplace=True)

In [376]:
imputed_df

,gvkey,cik,tic,datadate,sic,current_ratio,quick_ratio,cash_ratio,net_working_capital,debt_ratio,...,price_to_earnings,retention_ratio,gross_margin_ratio,operating_profit_margin,ebitda_margin,debt_service_coverage_ratio,interest_coverage_ratio,dividend_payout_ratio,quarter,sector_industry
0,1004,1750.0,AIR,2000-05-31,5080,3.120983,1.069792,-0.042786,347.451,0.279030,...,154.166667,0.055556,18.944015,-75.280235,-73.157425,-0.819497,2.287927,0.944444,2,50
1,1004,1750.0,AIR,2000-08-31,5080,3.032279,0.989191,-0.003399,341.996,0.305692,...,93.750000,0.291667,16.176118,-77.799562,-75.858047,-0.823112,2.432365,0.708333,3,50
2,1004,1750.0,AIR,2000-11-30,5080,2.718261,0.897575,0.009653,325.382,0.298354,...,64.843750,0.468750,18.857738,-73.583647,-71.446755,-0.674333,2.793634,0.531250,4,50
3,1004,1750.0,AIR,2001-02-28,5080,3.136912,1.025058,-0.002824,358.685,0.304446,...,68.000000,0.575000,20.259808,-71.119752,-68.726602,-0.619269,3.174489,0.425000,1,50
4,1004,1750.0,AIR,2001-05-31,5080,3.874697,1.317995,0.100230,360.464,0.275896,...,66.666667,0.595238,18.521886,-73.978080,-71.906875,-0.844613,3.492207,0.404762,2,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
754555,353945,1948862.0,ACLLY,2021-12-31,3621,1.339565,0.865039,0.211009,110.740,0.179542,...,21.400000,1.000000,50.122808,-22.580129,-19.472124,-1.386667,149.741117,0.000000,4,36
754556,353945,1948862.0,ACLLY,2022-03-31,3621,2.545541,1.809124,-0.011040,64.554,0.122530,...,21.000000,1.000000,35.994177,-60.993785,-55.021451,-1.249588,4.479424,0.000000,1,36
754557,353945,1948862.0,ACLLY,2022-06-30,3621,2.519278,1.777203,-0.005182,62.102,0.123077,...,27.883117,1.000000,36.104720,-59.870675,-53.772936,-1.256177,5.474806,0.000000,2,36
754558,353945,1948862.0,ACLLY,2022-09-30,3621,2.510161,1.799795,-0.002064,63.463,0.120438,...,32.416667,1.000000,36.177512,-58.776900,-52.711395,-1.320603,6.659850,0.000000,3,36
754559,353945,1948862.0,ACLLY,2022-12-31,3621,2.147041,1.496589,0.405641,328.508,0.357492,...,15.796183,1.000000,48.116684,-29.478257,-26.564242,-0.655717,315.099099,0.000000,4,36

In [377]:
imputed_df.isna().sum().sort_values(ascending=False)

debt_to_equity_ratio           21
debt_service_coverage_ratio    21
cashflow_to_debt_ratio         21
debt_ratio                     21
interest_coverage_ratio        14
gvkey                           0
day_sales_outstanding           0
working_capital_turnover        0
price_to_earnings               0
retention_ratio                 0
gross_margin_ratio              0
days_in_inventory               0
operating_profit_margin         0
ebitda_margin                   0
dividend_payout_ratio           0
quarter                         0
receivables_turnover            0
asset_turnover                  0
inventory_turnover              0
cik                             0
return_on_assets                0
net_profit_margin               0
equity_ratio                    0
net_working_capital             0
cash_ratio                      0
quick_ratio                     0
current_ratio                   0
sic                             0
datadate                        0
tic                             0
sector_industry                 0
dtype: int64

In [378]:
#count inf / -inf for each column
inf_count = imputed_df.isin([np.inf, -np.inf]).mean() * 100
inf_count.sort_values(ascending=False)

inventory_turnover             29.121210
debt_service_coverage_ratio    13.608726
cashflow_to_debt_ratio         13.409007
interest_coverage_ratio         9.956929
net_profit_margin               8.125663
operating_profit_margin         8.069869
ebitda_margin                   7.904872
day_sales_outstanding           5.697758
price_to_earnings               4.701415
gross_margin_ratio              1.455683
receivables_turnover            1.145833
days_in_inventory               0.473123
retention_ratio                 0.156913
dividend_payout_ratio           0.156913
debt_to_equity_ratio            0.009675
working_capital_turnover        0.007289
quarter                         0.000000
gvkey                           0.000000
asset_turnover                  0.000000
cik                             0.000000
return_on_assets                0.000000
equity_ratio                    0.000000
debt_ratio                      0.000000
net_working_capital             0.000000
cash_ratio                      0.000000
quick_ratio                     0.000000
current_ratio                   0.000000
sic                             0.000000
datadate                        0.000000
tic                             0.000000
sector_industry                 0.000000
dtype: float64

In [379]:
#list of rows with undefined values, i.e inf and -inf
undefined = [
    'inventory_turnover',
    'debt_service_coverage_ratio',
    'cashflow_to_debt_ratio',
    'interest_coverage_ratio',
    'net_profit_margin',
    'operating_profit_margin',
    'ebitda_margin',
    'day_sales_outstanding',
    'price_to_earnings',
    'gross_margin_ratio',
    'receivables_turnover',
    'days_in_inventory',
    'retention_ratio',
    'dividend_payout_ratio',
    'debt_to_equity_ratio',
    'working_capital_turnover'
]

In [380]:
#use binary to create column to identify inf values
for col in undefined:
    imputed_df[f'{col}_inf'] = imputed_df[col].isin([np.inf, -np.inf]).astype(int)

In [383]:
#expand dataset from quarterly to monthly
def expand_dates(ser):
    min_date = ser['datadate'].min()
    max_date = ser['datadate'].max()
    return pd.DataFrame({'datadate': pd.date_range(min_date, max_date, freq='M')})

# Apply the function within each 'id' group
ffdf = imputed_df.groupby(['gvkey']).apply(expand_dates).reset_index()

# Merge with the original DataFrame and forward fill missing values for the entire row
final_df = ffdf.merge(imputed_df, on=['gvkey', 'datadate'], how='left').fillna(method='ffill')

final_df

/var/folders/rz/d40gjr2505ddk3wl3mnzmvdm0000gn/T/ipykernel_89376/4244551608.py:11: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  final_df = ffdf.merge(imputed_df, on=['gvkey', 'datadate'], how='left').fillna(method='ffill')

,gvkey,level_1,datadate,cik,tic,sic,current_ratio,quick_ratio,cash_ratio,net_working_capital,...,ebitda_margin_inf,day_sales_outstanding_inf,price_to_earnings_inf,gross_margin_ratio_inf,receivables_turnover_inf,days_in_inventory_inf,retention_ratio_inf,dividend_payout_ratio_inf,debt_to_equity_ratio_inf,working_capital_turnover_inf
0,1004,0,2000-05-31,1750.0,AIR,5080.0,3.120983,1.069792,-0.042786,347.451,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1004,1,2000-06-30,1750.0,AIR,5080.0,3.120983,1.069792,-0.042786,347.451,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1004,2,2000-07-31,1750.0,AIR,5080.0,3.120983,1.069792,-0.042786,347.451,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1004,3,2000-08-31,1750.0,AIR,5080.0,3.032279,0.989191,-0.003399,341.996,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1004,4,2000-09-30,1750.0,AIR,5080.0,3.032279,0.989191,-0.003399,341.996,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2226310,353945,14,2022-08-31,1948862.0,ACLLY,3621.0,2.519278,1.777203,-0.005182,62.102,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2226311,353945,15,2022-09-30,1948862.0,ACLLY,3621.0,2.510161,1.799795,-0.002064,63.463,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2226312,353945,16,2022-10-31,1948862.0,ACLLY,3621.0,2.510161,1.799795,-0.002064,63.463,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2226313,353945,17,2022-11-30,1948862.0,ACLLY,3621.0,2.510161,1.799795,-0.002064,63.463,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2226314,353945,18,2022-12-31,1948862.0,ACLLY,3621.0,2.147041,1.496589,0.405641,328.508,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [384]:
#drop redundant columns
final_df = final_df.drop(['level_1'], axis=1)
final_df

,gvkey,datadate,cik,tic,sic,current_ratio,quick_ratio,cash_ratio,net_working_capital,debt_ratio,...,ebitda_margin_inf,day_sales_outstanding_inf,price_to_earnings_inf,gross_margin_ratio_inf,receivables_turnover_inf,days_in_inventory_inf,retention_ratio_inf,dividend_payout_ratio_inf,debt_to_equity_ratio_inf,working_capital_turnover_inf
0,1004,2000-05-31,1750.0,AIR,5080.0,3.120983,1.069792,-0.042786,347.451,0.279030,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1004,2000-06-30,1750.0,AIR,5080.0,3.120983,1.069792,-0.042786,347.451,0.279030,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1004,2000-07-31,1750.0,AIR,5080.0,3.120983,1.069792,-0.042786,347.451,0.279030,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1004,2000-08-31,1750.0,AIR,5080.0,3.032279,0.989191,-0.003399,341.996,0.305692,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1004,2000-09-30,1750.0,AIR,5080.0,3.032279,0.989191,-0.003399,341.996,0.305692,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2226310,353945,2022-08-31,1948862.0,ACLLY,3621.0,2.519278,1.777203,-0.005182,62.102,0.123077,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2226311,353945,2022-09-30,1948862.0,ACLLY,3621.0,2.510161,1.799795,-0.002064,63.463,0.120438,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2226312,353945,2022-10-31,1948862.0,ACLLY,3621.0,2.510161,1.799795,-0.002064,63.463,0.120438,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2226313,353945,2022-11-30,1948862.0,ACLLY,3621.0,2.510161,1.799795,-0.002064,63.463,0.120438,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2226314,353945,2022-12-31,1948862.0,ACLLY,3621.0,2.147041,1.496589,0.405641,328.508,0.357492,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [385]:
#create yyyy and mm columns
final_df['yyyy'] = final_df['datadate'].dt.year
final_df['mm'] = final_df['datadate'].dt.month
final_df

,gvkey,datadate,cik,tic,sic,current_ratio,quick_ratio,cash_ratio,net_working_capital,debt_ratio,...,price_to_earnings_inf,gross_margin_ratio_inf,receivables_turnover_inf,days_in_inventory_inf,retention_ratio_inf,dividend_payout_ratio_inf,debt_to_equity_ratio_inf,working_capital_turnover_inf,yyyy,mm
0,1004,2000-05-31,1750.0,AIR,5080.0,3.120983,1.069792,-0.042786,347.451,0.279030,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2000,5
1,1004,2000-06-30,1750.0,AIR,5080.0,3.120983,1.069792,-0.042786,347.451,0.279030,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2000,6
2,1004,2000-07-31,1750.0,AIR,5080.0,3.120983,1.069792,-0.042786,347.451,0.279030,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2000,7
3,1004,2000-08-31,1750.0,AIR,5080.0,3.032279,0.989191,-0.003399,341.996,0.305692,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2000,8
4,1004,2000-09-30,1750.0,AIR,5080.0,3.032279,0.989191,-0.003399,341.996,0.305692,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2000,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2226310,353945,2022-08-31,1948862.0,ACLLY,3621.0,2.519278,1.777203,-0.005182,62.102,0.123077,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022,8
2226311,353945,2022-09-30,1948862.0,ACLLY,3621.0,2.510161,1.799795,-0.002064,63.463,0.120438,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022,9
2226312,353945,2022-10-31,1948862.0,ACLLY,3621.0,2.510161,1.799795,-0.002064,63.463,0.120438,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022,10
2226313,353945,2022-11-30,1948862.0,ACLLY,3621.0,2.510161,1.799795,-0.002064,63.463,0.120438,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022,11
2226314,353945,2022-12-31,1948862.0,ACLLY,3621.0,2.147041,1.496589,0.405641,328.508,0.357492,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022,12

In [386]:
#count final rows and unique gvkey
print(final_df.shape[0])
print(final_df.gvkey.nunique())

2226315
19512

In [390]:
#save this version of cleaned data as compustat_vin.pkl
final_df.to_pickle('compustat_vin.pkl')

In [388]:
final_df

,gvkey,datadate,cik,tic,sic,current_ratio,quick_ratio,cash_ratio,net_working_capital,debt_ratio,...,price_to_earnings_inf,gross_margin_ratio_inf,receivables_turnover_inf,days_in_inventory_inf,retention_ratio_inf,dividend_payout_ratio_inf,debt_to_equity_ratio_inf,working_capital_turnover_inf,yyyy,mm
0,1004,2000-05-31,1750.0,AIR,5080.0,3.120983,1.069792,-0.042786,347.451,0.279030,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2000,5
1,1004,2000-06-30,1750.0,AIR,5080.0,3.120983,1.069792,-0.042786,347.451,0.279030,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2000,6
2,1004,2000-07-31,1750.0,AIR,5080.0,3.120983,1.069792,-0.042786,347.451,0.279030,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2000,7
3,1004,2000-08-31,1750.0,AIR,5080.0,3.032279,0.989191,-0.003399,341.996,0.305692,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2000,8
4,1004,2000-09-30,1750.0,AIR,5080.0,3.032279,0.989191,-0.003399,341.996,0.305692,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2000,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2226310,353945,2022-08-31,1948862.0,ACLLY,3621.0,2.519278,1.777203,-0.005182,62.102,0.123077,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022,8
2226311,353945,2022-09-30,1948862.0,ACLLY,3621.0,2.510161,1.799795,-0.002064,63.463,0.120438,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022,9
2226312,353945,2022-10-31,1948862.0,ACLLY,3621.0,2.510161,1.799795,-0.002064,63.463,0.120438,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022,10
2226313,353945,2022-11-30,1948862.0,ACLLY,3621.0,2.510161,1.799795,-0.002064,63.463,0.120438,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022,11
2226314,353945,2022-12-31,1948862.0,ACLLY,3621.0,2.147041,1.496589,0.405641,328.508,0.357492,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022,12

In [110]:
#push final df into gbq
#final_df.to_gbq(destination_table=f'{project_id}.{dataset_id}.compustat_monthly_before_impute', project_id=project_id, if_exists='replace')

100%|██████████| 1/1 [00:00<00:00, 8208.03it/s]

Download and push compkey mapping to gbq

In [206]:
#download and push compkey mapping to gbq
df = pd.read_excel('compustat_company_map.xlsx')
df.head()

   company_number   gvkey
0           50797  177439
1           92318  160317
2           92300  106156
3           45321  141466
4           43665   66636

In [236]:
df.shape

(64290, 2)

In [207]:
df.to_gbq(destination_table=f'{project_id}.{dataset_id}.compkey_mapping', project_id=project_id, if_exists='replace')

In [211]:
df['gvkey'] = df['gvkey'].astype(str)

Map `company_number`` to compustat table and push to gbq

In [212]:
result_df = new_df.merge(df, on='gvkey', how='left')

In [220]:
result_df.to_gbq(destination_table=f'{project_id}.{dataset_id}.compna_with_compnumber', project_id=project_id, if_exists='replace')

In [213]:
result_df.isna().sum().sort_values(ascending=False)

company_number              435530
wcapq                            0
epsf12                           0
cshoq                            0
dvy                              0
req                              0
dlttq                            0
chechy                           0
sector_industry                  0
yyyy                             0
mm                               0
current_ratio                    0
quick_ratio                      0
cash_ratio                       0
net_working_capital              0
debt_ratio                       0
debt_to_equity_ratio             0
equity_ratio                     0
financial_leverage_ratio         0
cashflow_to_debt_ratio           0
net_profit_margin                0
asset_turnover                   0
receivables_turnover             0
day_sales_outstanding            0
working_capital_turnover         0
price_to_earnings                0
retention_ratio                  0
prccq                            0
gvkey                            0
datadate                         0
invchy                           0
sic                              0
atq                              0
ltq                              0
dlcq                             0
txditcq                          0
cheq                             0
lctq                             0
actq                             0
invtq                            0
intanq                           0
oibdpq                           0
txpq                             0
piq                              0
niq                              0
revtq                            0
cogsq                            0
oancfy                           0
ivncfy                           0
fincfy                           0
dltisy                           0
dltry                            0
ceqq                             0
dpq                              0
saleq                            0
saley                            0
rectq                            0
dtype: int64

In [245]:
result_df.atq.sort_values()

968886         -0.011
968774         -0.011
968887         -0.011
968775         -0.011
968776         -0.011
             ...
909194    3879171.797
909223    3879171.797
909195    3879171.797
909196    3879171.797
909151    3879171.797
Name: atq, Length: 1220588, dtype: float64

In [242]:
len(result_df.gvkey.unique())

12931

In [214]:
filtered_df = result_df[pd.isna(result_df['company_number'])]
filtered_df

,gvkey,datadate,sic,atq,ltq,dlcq,txditcq,cheq,lctq,actq,...,financial_leverage_ratio,cashflow_to_debt_ratio,net_profit_margin,asset_turnover,receivables_turnover,day_sales_outstanding,working_capital_turnover,price_to_earnings,retention_ratio,company_number
1093,10019,2013-03-31,7370.0,2581.829,898.943,69.344,0.000,51.236,520.474,1590.379,...,1.132473,0.134892,0.245612,1.000000,1.753842,0.570177,0.942286,25.325321,18.031014,NaN
1094,10019,2013-04-30,7370.0,2581.829,898.943,69.344,0.000,51.236,520.474,1590.379,...,1.132473,0.134892,0.245612,1.000000,1.753842,0.570177,0.942286,25.325321,18.031014,NaN
1095,10019,2013-05-31,7370.0,2581.829,898.943,69.344,0.000,51.236,520.474,1590.379,...,1.132473,0.134892,0.245612,1.000000,1.753842,0.570177,0.942286,25.325321,18.031014,NaN
1096,10019,2013-06-30,7370.0,30.970,16.456,2.740,0.000,0.628,11.767,24.723,...,1.703390,1.522071,0.226150,0.362835,2.105915,0.474853,1.115699,125.000000,-471.457627,NaN
1097,10019,2013-07-31,7370.0,30.970,16.456,2.740,0.000,0.628,11.767,24.723,...,1.703390,1.522071,0.226150,0.362835,2.105915,0.474853,1.115699,125.000000,-471.457627,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1218844,9906,2022-12-31,4911.0,3574.100,1884.600,0.500,89.300,120.800,513.600,1940.300,...,1.148446,0.048831,0.396868,1.000000,1.781538,0.561313,0.420691,22.487342,2.264414,NaN
1218845,9906,2023-03-31,4911.0,1678.600,928.200,0.000,218.500,2.300,165.200,256.700,...,0.342084,0.021114,0.314286,0.307018,0.672430,1.487143,1.530055,22.500000,15.783333,NaN
1218846,9906,2023-04-30,4911.0,1678.600,928.200,0.000,218.500,2.300,165.200,256.700,...,0.342084,0.021114,0.314286,0.307018,0.672430,1.487143,1.530055,22.500000,15.783333,NaN
1218847,9906,2023-05-31,4911.0,1678.600,928.200,0.000,218.500,2.300,165.200,256.700,...,0.342084,0.021114,0.314286,0.307018,0.672430,1.487143,1.530055,22.500000,15.783333,NaN
1218848,9906,2023-06-30,4911.0,10051.444,4156.814,257.339,1069.945,243.624,883.897,1410.768,...,0.239331,0.735072,0.536879,0.337144,8.989811,0.111237,1.867284,19.062500,-1.341880,NaN

In [251]:
filtered_df[['gvkey', 'atq']].sort_values(ascending=False, by= 'atq')

        gvkey          atq
909195  32010  3879171.797
909151  31998  3879171.797
909194  32010  3879171.797
909196  32010  3879171.797
909223  32010  3879171.797
...       ...          ...
968886  34370       -0.011
968776  34368       -0.011
968775  34368       -0.011
968774  34368       -0.011
968887  34374       -0.011

[435530 rows x 2 columns]

In [219]:
new_df['gvkey'].value_counts()

gvkey
8092     238
7637     238
28490    238
2269     238
28762    238
        ...
29146      1
25995      1
8408       1
4024       1
21543      1
Name: count, Length: 12931, dtype: int64

In [218]:
filtered_df['gvkey'].value_counts()

gvkey
14734    237
25941    237
28308    237
23048    237
24729    237
        ...
23918      1
23919      1
24090      1
33370      1
28746      1
Name: count, Length: 6390, dtype: int64

Drop NaN in mapped table and push to gbq

In [244]:
missing_gvkeys = filtered_df['gvkey'].unique()
len(missing_gvkeys)

6390

In [221]:
result_df2 = result_df.dropna()

In [222]:
result_df2.isna().sum().sort_values(ascending=False)

gvkey                       0
wcapq                       0
epsf12                      0
cshoq                       0
dvy                         0
req                         0
dlttq                       0
chechy                      0
sector_industry             0
yyyy                        0
mm                          0
current_ratio               0
quick_ratio                 0
cash_ratio                  0
net_working_capital         0
debt_ratio                  0
debt_to_equity_ratio        0
equity_ratio                0
financial_leverage_ratio    0
cashflow_to_debt_ratio      0
net_profit_margin           0
asset_turnover              0
receivables_turnover        0
day_sales_outstanding       0
working_capital_turnover    0
price_to_earnings           0
retention_ratio             0
prccq                       0
rectq                       0
datadate                    0
invchy                      0
sic                         0
atq                         0
ltq                         0
dlcq                        0
txditcq                     0
cheq                        0
lctq                        0
actq                        0
invtq                       0
intanq                      0
oibdpq                      0
txpq                        0
piq                         0
niq                         0
revtq                       0
cogsq                       0
oancfy                      0
ivncfy                      0
fincfy                      0
dltisy                      0
dltry                       0
ceqq                        0
dpq                         0
saleq                       0
saley                       0
company_number              0
dtype: int64

In [226]:
len(result_df2)

785058

In [243]:
len(result_df2.gvkey.unique())

6541

In [225]:
#push after dropping nan
result_df2.to_gbq(destination_table=f'{project_id}.{dataset_id}.compna_without_na', project_id=project_id, if_exists='replace')