In [2]:
import pandas as pd
from google.oauth2 import service_account
import pandas_gbq as gbq

In [3]:
file_path = '../dataset/comp_na_daily_all.csv'

# Read the CSV file into a pandas DataFrame
chunks = pd.read_csv(file_path, chunksize=100000)
df = pd.concat(chunks)

df.head()

C:\Users\Melissa\AppData\Local\Temp\ipykernel_20108\4175223543.py:5: DtypeWarning: Columns (10,17,26,30,647,648,654,668,669,679) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat(chunks)
C:\Users\Melissa\AppData\Local\Temp\ipykernel_20108\4175223543.py:5: DtypeWarning: Columns (12,13,17,18,20,25,26,30,32,33,34,35,647,648,654,668,669,674,679) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat(chunks)
C:\Users\Melissa\AppData\Local\Temp\ipykernel_20108\4175223543.py:5: DtypeWarning: Columns (26,30,647,648,654,668,669,679) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat(chunks)
C:\Users\Melissa\AppData\Local\Temp\ipykernel_20108\4175223543.py:5: DtypeWarning: Columns (17,26,30,647,654,668,669,674) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat(chunks)
C:\Users\Melissa\AppData\Local\Temp\ipykernel_20108\4175223543.py:5: DtypeWarning: Columns (17,26,30,647,648,654,669,674) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat(chunks)

,gvkey,datadate,fyearq,fqtr,fyr,indfmt,consol,popsrc,datafmt,tic,...,priusa,sic,spcindcd,spcseccd,spcsrc,state,stko,weburl,dldte,ipodate
0,1004,2/29/2000,1999,3.0,5,INDL,C,D,STD,AIR,...,1.0,5080.0,110.0,925.0,B,IL,0.0,www.aarcorp.com,NaN,1/1/1988
1,1004,5/31/2000,1999,4.0,5,INDL,C,D,STD,AIR,...,1.0,5080.0,110.0,925.0,B,IL,0.0,www.aarcorp.com,NaN,1/1/1988
2,1004,8/31/2000,2000,1.0,5,INDL,C,D,STD,AIR,...,1.0,5080.0,110.0,925.0,B,IL,0.0,www.aarcorp.com,NaN,1/1/1988
3,1004,11/30/2000,2000,2.0,5,INDL,C,D,STD,AIR,...,1.0,5080.0,110.0,925.0,B,IL,0.0,www.aarcorp.com,NaN,1/1/1988
4,1004,2/28/2001,2000,3.0,5,INDL,C,D,STD,AIR,...,1.0,5080.0,110.0,925.0,B,IL,0.0,www.aarcorp.com,NaN,1/1/1988

In [4]:
df.describe()

,gvkey,fyearq,fqtr,fyr,adrrq,ajexq,ajpq,currtrq,curuscnq,scfq,...,ggroup,gind,gsector,gsubind,naics,priusa,sic,spcindcd,spcseccd,stko
count,487220.000000,487220.000000,487058.000000,487220.000000,18612.000000,487219.000000,487219.000000,393137.000000,45358.000000,373000.000000,...,409611.000000,409611.000000,409611.000000,4.096110e+05,486076.000000,467316.000000,487219.000000,343751.000000,343751.000000,413279.000000
mean,18622.626315,2011.270791,2.472256,10.338420,15.470773,1.763091,1.761595,0.984600,0.807123,6.998418,...,3257.051300,325726.612640,32.400326,3.257268e+07,410436.048311,4.857103,4994.300425,452.457366,892.684117,0.705852
std,9681.822235,7.161584,1.116618,3.114799,147.092916,104.254790,104.254736,0.145942,0.114797,0.087336,...,1341.986937,134196.778213,13.419778,1.341967e+07,179980.740891,17.778180,2071.700652,254.753803,92.317219,1.246715
min,1004.000000,1999.000000,1.000000,1.000000,0.001000,0.000000,0.000000,0.000100,0.104500,2.000000,...,1010.000000,101010.000000,10.000000,1.010101e+07,11.000000,1.000000,100.000000,110.000000,600.000000,0.000000
25%,10609.000000,2005.000000,1.000000,10.000000,1.000000,1.000000,1.000000,1.000000,0.738900,7.000000,...,2020.000000,202010.000000,20.000000,2.020105e+07,325414.000000,1.000000,3443.000000,235.000000,800.000000,0.000000
50%,18892.000000,2012.000000,2.000000,12.000000,1.000000,1.000000,1.000000,1.000000,0.780900,7.000000,...,3510.000000,351020.000000,35.000000,3.510202e+07,455219.000000,1.000000,5122.000000,380.000000,925.000000,0.000000
75%,26938.000000,2018.000000,3.000000,12.000000,5.000000,1.000000,1.000000,1.000000,0.896900,7.000000,...,4030.000000,403010.000000,40.000000,4.030104e+07,525910.000000,1.000000,6722.000000,710.000000,974.000000,1.000000
max,36356.000000,2023.000000,4.000000,12.000000,5000.000000,20000.000000,20000.000000,2.038900,1.311500,7.000000,...,6020.000000,602010.000000,60.000000,6.020104e+07,999990.000000,99.000000,9998.000000,850.000000,978.000000,4.000000

In [5]:
# drop cols w lots of missing value (threshold such that cutting down to 50%)

na_count_per_column = df.isna().sum()
half_length = len(df) / 2
# na_count_is_zero = na_count_per_column[na_count_per_column == 0]
na_count_50 = na_count_per_column[na_count_per_column < half_length].index

# print(na_count_50)

new_df = df[na_count_50]

# 2 letter cols are more impt - append Q ?

In [6]:
new_df = new_df.astype(str)
new_df.head()

,gvkey,datadate,fyearq,fqtr,fyr,indfmt,consol,popsrc,datafmt,tic,...,naics,phone,priusa,sic,spcindcd,spcseccd,spcsrc,state,stko,weburl
0,1004,2/29/2000,1999,3.0,5,INDL,C,D,STD,AIR,...,423860.0,630 227 2000,1.0,5080.0,110.0,925.0,B,IL,0.0,www.aarcorp.com
1,1004,5/31/2000,1999,4.0,5,INDL,C,D,STD,AIR,...,423860.0,630 227 2000,1.0,5080.0,110.0,925.0,B,IL,0.0,www.aarcorp.com
2,1004,8/31/2000,2000,1.0,5,INDL,C,D,STD,AIR,...,423860.0,630 227 2000,1.0,5080.0,110.0,925.0,B,IL,0.0,www.aarcorp.com
3,1004,11/30/2000,2000,2.0,5,INDL,C,D,STD,AIR,...,423860.0,630 227 2000,1.0,5080.0,110.0,925.0,B,IL,0.0,www.aarcorp.com
4,1004,2/28/2001,2000,3.0,5,INDL,C,D,STD,AIR,...,423860.0,630 227 2000,1.0,5080.0,110.0,925.0,B,IL,0.0,www.aarcorp.com

In [7]:
credentials_path = 'token.json'

# Authenticate with your credentials
credentials = service_account.Credentials.from_service_account_file(
    credentials_path, scopes=['https://www.googleapis.com/auth/bigquery'])

# Set the credentials for pandas_gbq
gbq.context.credentials = credentials
project_id = 'capstone-402105'
dataset_id = 'capstone'
table_id = "compna_removed_na"

In [8]:
new_df.to_gbq(destination_table=f'{project_id}.{dataset_id}.compna_removed_na', project_id=project_id, if_exists='replace')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<?, ?it/s]

In [19]:
# file_path2 = 'Datasets/Compustat_north_america_industry_specific_quarterly(196202_202308).csv'

# # Read the CSV file into a pandas DataFrame
# df2 = pd.read_csv(file_path2)

# df2.head()

In [18]:
tickers = df['tic']
date = df['datadate']
data = df.fillna(0)
data_wo_string = data.drop(columns=data.select_dtypes(include='object'))
x_features = data_wo_string.drop(['gvkey', 'fyearq', 'fqtr', 'fyr', 'fyrc'], axis=1)
x_features.head(5)

,adrrq,ajexq,ajpq,currtrq,curuscnq,scfq,srcq,updq,acchgq,acomincq,...,ggroup,gind,gsector,gsubind,naics,priusa,sic,spcindcd,spcseccd,stko
0,0.0,1.0,1.0,1.0,0.0,7.0,5.0,3,0.0,0.0,...,2010.0,201010.0,20.0,20101010.0,423860.0,1.0,5080.0,110.0,925.0,0.0
1,0.0,1.0,1.0,1.0,0.0,7.0,53.0,3,0.0,0.0,...,2010.0,201010.0,20.0,20101010.0,423860.0,1.0,5080.0,110.0,925.0,0.0
2,0.0,1.0,1.0,1.0,0.0,7.0,5.0,3,0.0,0.0,...,2010.0,201010.0,20.0,20101010.0,423860.0,1.0,5080.0,110.0,925.0,0.0
3,0.0,1.0,1.0,1.0,0.0,7.0,5.0,3,0.0,0.0,...,2010.0,201010.0,20.0,20101010.0,423860.0,1.0,5080.0,110.0,925.0,0.0
4,0.0,1.0,1.0,1.0,0.0,7.0,5.0,3,0.0,0.0,...,2010.0,201010.0,20.0,20101010.0,423860.0,1.0,5080.0,110.0,925.0,0.0

In [20]:
from sklearn.preprocessing import StandardScaler
scalar = StandardScaler()
scalar.fit(x_features)
X = scalar.transform(x_features)

from sklearn.decomposition import PCA
pca = PCA(n_components=3)
x_pca = pca.fit_transform(X)

combined_df = pd.concat([tickers, date, pd.DataFrame(x_pca)], axis=1)
combined_df.columns = ['Ticker', 'date', 'pc1', 'pc2', 'pc3']

combined_df.head(10)

  Ticker        date       pc1       pc2       pc3
0    AIR   2/29/2000 -1.155287  0.010124 -0.018396
1    AIR   5/31/2000 -1.149684 -0.000169 -0.021358
2    AIR   8/31/2000 -1.235743 -0.020762 -0.015361
3    AIR  11/30/2000 -1.221054 -0.016377 -0.017415
4    AIR   2/28/2001 -1.202959 -0.009513 -0.018876
5    AIR   5/31/2001 -1.183185 -0.000829 -0.022766
6    AIR   8/31/2001 -1.228253  0.013491  0.134522
7    AIR  11/30/2001 -1.299126 -0.086268  0.160409
8    AIR   2/28/2002 -1.234839 -0.000115  0.232126
9    AIR   5/31/2002 -1.214088  0.021490  0.310626

In [21]:
# Split the Date column into yyyy and mm columns
combined_df[['mm', 'dd', 'yyyy']] = combined_df['date'].str.split('/', expand=True)

# Convert the yyyy and mm columns to integers (optional)
combined_df['yyyy'] = combined_df['yyyy'].astype(int)
combined_df['mm'] = combined_df['mm'].astype(str)
combined_df = combined_df.drop(['dd'], axis=1)

combined_df.head(10)

  Ticker        date       pc1       pc2       pc3  mm  yyyy
0    AIR   2/29/2000 -1.155287  0.010124 -0.018396   2  2000
1    AIR   5/31/2000 -1.149684 -0.000169 -0.021358   5  2000
2    AIR   8/31/2000 -1.235743 -0.020762 -0.015361   8  2000
3    AIR  11/30/2000 -1.221054 -0.016377 -0.017415  11  2000
4    AIR   2/28/2001 -1.202959 -0.009513 -0.018876   2  2001
5    AIR   5/31/2001 -1.183185 -0.000829 -0.022766   5  2001
6    AIR   8/31/2001 -1.228253  0.013491  0.134522   8  2001
7    AIR  11/30/2001 -1.299126 -0.086268  0.160409  11  2001
8    AIR   2/28/2002 -1.234839 -0.000115  0.232126   2  2002
9    AIR   5/31/2002 -1.214088  0.021490  0.310626   5  2002

In [23]:
credentials_path = 'token.json'

# Authenticate with your credentials
credentials = service_account.Credentials.from_service_account_file(
    credentials_path, scopes=['https://www.googleapis.com/auth/bigquery'])

# Set the credentials for pandas_gbq
gbq.context.credentials = credentials

project_id = 'capstone-398012'
dataset_id = 'capstone'
table_id = "ticker_table"

from pandas_gbq import read_gbq

query = f"""
SELECT *
FROM `{project_id}.{dataset_id}.{table_id}`

"""

# Authenticate and read data from BigQuery into a DataFrame
ticker_df = read_gbq(query, project_id=project_id, dialect='standard')
ticker_df.head()

Downloading: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ|

,CompanyNumber,yyyy,mm,StkIndx,STInt,dtdlevel,dtdtrend,liqnonfinlevel,liqnonfintrend,ni2talevel,...,sigma_notNA,sizetrend_notNA,sizelevel_notNA,DTDmedianNonFin_notNA,liqfinlevel_notNA,lqfintrend_notNA,StkIndx_notNA,DTDmedianFin_notNA,STInt_notNA,Ticker
0,48462,1989,2,0.171895,0.000708,3.651927,-0.006277,0.400083,0.022740,0.002645,...,0,0,0,0,1,1,1,1,0,BBL/A
1,30380,1988,3,0.154263,0.011733,-0.241963,-0.017318,0.436413,-0.004704,-0.003261,...,0,0,0,0,1,1,0,1,1,JGIN
2,49275,1989,3,0.116551,0.008816,1.566916,-0.151988,0.693917,-0.055050,-0.005538,...,0,0,0,0,1,1,1,1,0,IVX
3,48390,1990,3,0.043029,0.035999,1.361053,0.131416,-0.875196,0.133597,-0.005230,...,0,0,0,0,1,1,1,1,1,54010Q
4,29779,1988,4,0.093785,0.012978,2.990161,0.074515,0.628654,0.043927,-0.002564,...,0,0,0,0,1,1,0,1,1,FONR

In [24]:
ticker_df_test = ticker_df.head(100000)
combined_df_test = combined_df.head(100000)

In [25]:
#merge both dfs based on ticker, yyyy, mm
merged_df = pd.merge(
    ticker_df_test,
    combined_df_test,
    on=['Ticker', 'yyyy', 'mm'],
    how='left'
)
merged_df

,CompanyNumber,yyyy,mm,StkIndx,STInt,dtdlevel,dtdtrend,liqnonfinlevel,liqnonfintrend,ni2talevel,...,liqfinlevel_notNA,lqfintrend_notNA,StkIndx_notNA,DTDmedianFin_notNA,STInt_notNA,Ticker,date,pc1,pc2,pc3
0,48462,1989,2,0.171895,0.000708,3.651927,-0.006277,0.400083,0.022740,0.002645,...,1,1,1,1,0,BBL/A,NaN,NaN,NaN,NaN
1,30380,1988,3,0.154263,0.011733,-0.241963,-0.017318,0.436413,-0.004704,-0.003261,...,1,1,0,1,1,JGIN,NaN,NaN,NaN,NaN
2,49275,1989,3,0.116551,0.008816,1.566916,-0.151988,0.693917,-0.055050,-0.005538,...,1,1,1,1,0,IVX,NaN,NaN,NaN,NaN
3,48390,1990,3,0.043029,0.035999,1.361053,0.131416,-0.875196,0.133597,-0.005230,...,1,1,1,1,1,54010Q,NaN,NaN,NaN,NaN
4,29779,1988,4,0.093785,0.012978,2.990161,0.074515,0.628654,0.043927,-0.002564,...,1,1,0,1,1,FONR,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99996,47514,2007,4,0.130339,0.007700,2.074994,-0.247966,0.760735,-0.017147,-0.003405,...,1,1,1,1,1,SUMR,NaN,NaN,NaN,NaN
99997,202625,2020,4,-0.143708,-0.009799,1.040327,-0.464266,-0.830707,-0.703837,-0.325497,...,1,1,1,1,1,WPN,NaN,NaN,NaN,NaN
99998,35743,1994,5,0.013902,0.005329,3.168318,-0.081726,0.480531,0.010731,0.003486,...,1,1,1,1,1,MPAA,NaN,NaN,NaN,NaN
99999,33972,2005,5,0.062679,0.000142,4.700542,-0.857078,1.628746,0.046702,0.025856,...,1,1,1,1,1,CESV,NaN,NaN,NaN,NaN
100000,41050,1996,6,0.230492,0.008961,1.665541,-0.102260,0.690841,-0.081193,0.004435,...,1,1,1,1,1,231442Q,NaN,NaN,NaN,NaN

In [26]:
#check df
filtered_df = merged_df[~merged_df['pc1'].isna()]
filtered_df

,CompanyNumber,yyyy,mm,StkIndx,STInt,dtdlevel,dtdtrend,liqnonfinlevel,liqnonfintrend,ni2talevel,...,liqfinlevel_notNA,lqfintrend_notNA,StkIndx_notNA,DTDmedianFin_notNA,STInt_notNA,Ticker,date,pc1,pc2,pc3
2345,54044,2006,12,0.141044,0.003842,1.680050,-0.095914,0.146452,-0.019067,0.002108,...,1,1,1,1,1,HP,12/31/2006,-0.538784,0.415613,0.010660
2501,28819,2000,11,-0.053105,0.013117,-0.421636,-0.039478,-0.042119,0.054177,0.004050,...,1,1,1,1,1,BEHP,11/30/2000,-1.400016,-0.089473,-0.000457
2879,54044,2007,6,0.258056,0.004824,1.680050,-0.095914,0.146452,-0.019067,0.002108,...,1,1,1,1,1,HP,6/30/2007,-0.056956,0.693423,0.005522
3506,27479,2002,12,-0.233660,-0.006819,-1.000372,-0.057575,0.105279,-0.154584,-0.023167,...,1,1,1,1,1,MTRM,12/31/2002,-1.374972,-0.299019,-0.009607
4111,125109,2019,6,0.024488,-0.004889,1.093405,-0.437561,0.009503,-0.295019,-0.046741,...,1,1,1,1,1,CAT,6/30/2019,22.670022,9.067377,-4.047201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99607,27106,2003,12,0.263804,-0.007904,2.714688,1.671387,0.000000,0.000000,0.000891,...,1,1,1,1,1,BK,12/31/2003,3.974607,-2.536083,0.550298
99797,28638,2018,6,0.123433,-0.003945,5.829854,-0.758451,0.000000,0.000000,0.001216,...,1,1,1,1,1,ANAT,6/30/2018,0.689206,-1.911431,0.535065
99882,34002,2018,9,0.160920,-0.002815,7.073096,-0.413357,0.000000,0.000000,0.006070,...,1,1,1,1,1,NEWT,9/30/2018,-1.169206,-0.169191,0.043221
99965,27715,2003,12,0.263804,-0.007904,5.005866,1.211670,0.000000,0.000000,0.002929,...,1,1,1,1,1,LM,12/31/2003,-0.425153,0.012116,0.186117
99975,30765,2015,12,-0.007266,-0.010905,8.224671,0.446982,0.000000,0.000000,0.002194,...,1,1,1,1,1,MNR,12/31/2015,-1.133418,-0.232476,0.044620